<div class="vocabulary content clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center clearfix"><%= __('Your learning status') %></h2>
                <p class="text-center desc-home"><%= __('This site show all your learning status from pass till now') %></p>
            </div>
            <div class="vocabulary-item clearfix">
                <div class="info clearfix">
                    <% _.each(listLearnings, function (learning) { %>
                    <div class="col-sm-12 clearfix">
                        <h3><a class="text-primary"><%= learning.bookMaster.name %></a></h3>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-primary"><%= __('Category: ') %> <%= learning.bookMaster.type %></p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-info"><%= __('Level: ') %> <%= learning.bookMaster.level %></p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-success"><%= __('Pass: ') %> <span id="passNum-<%= learning.id %>" class="lesson-success"></span> Lesson</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="text-danger"><%= __('False or in learning: ') %> <span id="falsedNum-<%= learning.id %>" class="lesson-danger"></span> Lesson</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="text-primary"><%= __('Total of Lesson: ') %> <%= learning.bookMaster.lessonNum %></p>
                    </div>
                    <div id="detail-<%= learning.id %>" class="clearfix"></div>
                    <div class="col-sm-12">
                        <a class="show-hide-detail-<%= learning.id %> pull-right disactive"><%= __('Hide Detail') %></a>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="bookMasterMore"></div>
            <div class="col-sm-offset-4 col-sm-4 clearfix">
                <div class="info-lesson label-primary loadmore"><a><%= __('View More') %></a></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        <% _.each(listLearnings, function (learning) { %>
            $.ajax({
                url: '/japtool/home/learningDetail',
                type: 'GET',
                data: {
                    learningID: '<%= learning.id %>',
                    bookID: '<%= learning.bookMaster.id %>'
                },
                cache: false,
                async: false,
                success: function (data) {
                    $('#detail-<%= learning.id %>').html('');
                    $('#detail-<%= learning.id %>').html(data);
                    $('.show-hide-detail-<%= learning.id %>').removeClass('disactive');
                },
                error: function () {
                    alert('Error')
                }
            })

            $.ajax({
                url: '/japtool/home/loadSumary',
                type: 'GET',
                data: {
                    learningID: '<%= learning.id %>',
                    bookID: '<%= learning.bookMaster.id %>'
                },
                cache: false,
                async: false,
                success: function (data) {
                    $('#passNum-<%= learning.id %>').text(data.passedNum);
                    $('#falsedNum-<%= learning.id %>').text(data.fasledNum);
                },
                error: function () {
                    alert('Error')
                }
            })

            $('.show-hide-detail-<%= learning.id %>').click(function () {
                toggleDetail('<%= learning.id %>');
            })

        <% }) %>

        <% if (noMore) { %>
            $(".loadmore").remove();
        <% } %>        

        var loadMore = $(".loadmore");
        loadMore.on('click', function () {
            if(!$(this).hasClass('clicked')){
                $(this).addClass('clicked');
                $.ajax({
                    url: '/japtool/home/loadMore',
                    type: 'GET',
                    cache: false,
                    async: false,
                    success: function (data) {
                        if(data){
                            $('.bookMasterMore').append(data);
                            loadMore.removeClass('clicked');
                        }else{
                            loadMore.remove();
                        }
                    },
                    error: function () {
                        alert('Error')
                    }
                })
            }
        })
    }

    function toggleDetail(learningID){
        if ( $('#detail-' + learningID).hasClass('disactive') ) {
            $('#detail-' + learningID).removeClass('disactive');
            $('.show-hide-detail-' + learningID).text("<%= __('Hide Detail') %>");
        } else {
            $('#detail-' + learningID).addClass('disactive');
            $('.show-hide-detail-' + learningID).text("<%= __('Show Detail') %>");
        }
    }

</script>