<%
var lessionName = '';
var lesson = '';
for (var i = 0; i < lessonList.length; i++) {
    lessionName = lessonList[i].lesson;
    // pre-check status
    var status = "label-success";
    var noHis = true;
    for (var subIdx = i; subIdx < lessonList.length; subIdx++) {
        if (lessionName == lessonList[subIdx].lesson) {
            if (lessonList[subIdx].learnHistory) {
                noHis = false;

                if (!lessonList[subIdx].learnHistory.status || lessonList[subIdx].learnHistory.status != 'passed'){
                    status = 'label-danger';
                }
            }
        } else {
            break;
        }
    }

    if (noHis){
        status = '';
    }
    if(lesson != lessonList[i].lesson) {
        lesson = lessonList[i].lesson;
    %>
        <div class="col-sm-2 col-xs-3 col-md-1">
            <div class="info-lesson-home label-home <%= status %>" id="<%= lessonList[i].id %>">
                <a href="/japtool/Learning/practice/?id=<%= lessonList[i].bookMaster %>&learnID=<%= moreSelfLearningId %>&lessonID=<%= lessonList[i].id%>"> <%= lessonList[i].lesson %> </a>
            </div>
        </div>

    <% }%>
<% }%>
