<div class="vocabulary-item clearfix">
    <div class="info clearfix">
        <% _.each(loadMorelistLessons, function (item) { %>
        <div class="col-sm-12">
            <h3><a class="text-primary"><%= item.bookMaster.name %></a></h3>
        </div>
        <div class="col-sm-2">
            <p class="text-primary">Category: <%= item.bookMaster.type %></p>
        </div>
        <div class="col-sm-2">
            <p class="text-info">Level: <%= item.bookMaster.level %></p>
        </div>
        <div class="col-sm-2">
            <p class="text-warning">Warning: <span class="lesson-warning-<%= item.id %>"></span> Lesson</p>
        </div>
        <div class="col-sm-2">
            <p class="text-success">Pass: <span class="lesson-pass-<%= item.id %>"></span> Lesson</p>
        </div>
        <div class="col-sm-2">
            <p class="text-danger">Failed: <span class="lesson-danger-<%= item.id %>"></span> Lesson</p>
        </div>
        <div class="col-sm-2">
            <p class="text-primary">Tổng có: <%= item.bookMaster.lessonNum %></p>
        </div>
        <div id="<%= item.id %>" class="disactive clearfix"></div>
        <div class="col-sm-12">
            <a class="view-detail-lesson view-detail-lesson-active-<%= item.id %> pull-right"
               id="<%= item.bookMaster.id %>">View Detail</a>
            <a class="view-detail-lesson view-detail-lesson-hide-<%= item.id %> pull-right disactive">Hide
                Detail</a>
        </div>
        <% }) %>
    </div>
</div>


<div class="info-book-more"></div>

<script type="text/javascript">
    <% _.each(loadMorelistLessons, function (item) { %>
    $('#<%= item.bookMaster.id %>').on('click', function () {
        $.ajax({
            url: '/japtool/home/lessonHome',
            type: 'GET',
            data: {
                bookMasterId: '<%= item.bookMaster.id %>',
                moreSelfLesson: '<%= item.id %>'
            },
            cache: false,
            async: false,
            success: function (data) {
                $('#<%= item.id %>').html(data);
            },
            error: function () {
                alert('Error')
            }
        })
    })
    <%})%>

    <% _.each(loadMorelistLessons, function (item) { %>
    $('.view-detail-lesson-active-<%= item.id %>').click(function () {
        $('#<%= item.id %>').removeClass('disactive');
        $('#<%= item.id %>').addClass('active');
        $('.view-detail-lesson-hide-<%= item.id %>').removeClass('disactive');
        $('.view-detail-lesson-hide-<%= item.id %>').addClass('active');
        $(this).addClass('disactive');
    })
    $('.view-detail-lesson-hide-<%= item.id %>').click(function () {
        $('#<%= item.id %>').addClass('disactive');
        $('#<%= item.id %>').removeClass('active');
        $('.view-detail-lesson-active-<%= item.id %>').removeClass('disactive');
        $('.view-detail-lesson-hide-<%= item.id %>').removeClass('active');
        $(this).addClass('disactive');
    })
    <% }) %>
</script>