<div class="vocabulary-item clearfix">
    <div class="info clearfix">
        <% _.each(listLearnings, function (learning) { %>
        <div class="col-sm-12">
            <h3><a class="text-primary"><%= learning.bookMaster.name %></a></h3>
        </div>
        <div class="col-sm-2">
            <p class="text-primary"><%= __('Category: ') %> <%= learning.bookMaster.type %></p>
        </div>
        <div class="col-sm-2">
            <p class="text-info"><%= __('Level: ') %> <%= learning.bookMaster.level %></p>
        </div>
        <div class="col-sm-2">
            <p class="text-success"><%= __('Pass: ') %> <span id="passNum-<%= learning.id %>"></span> Lesson</p>
        </div>
        <div class="col-sm-4">
            <p class="text-danger"><%= __('False or in learning: ') %> <span id="falsedNum-<%= learning.id %>"></span> Lesson</p>
        </div>
        <div class="col-sm-2">
            <p class="text-primary"><%= __('Total of Lesson: ') %> <%= learning.bookMaster.lessonNum %></p>
        </div>
        <div id="detail-<%= learning.id %>" class="clearfix"></div>
        <div class="col-sm-12">
            <a class="show-hide-detail-<%= learning.id %> pull-right"><%= __('Hide Detail') %></a>
        </div>
        <% }) %>
    </div>
</div>


<div class="info-book-more"></div>

<script type="text/javascript">
    <% _.each(listLearnings, function (learning) { %>
        // $('#<%= learning.bookMaster.id %>').on('click', function () {
            $.ajax({
                url: '/japtool/home/learningDetail',
                type: 'GET',
                data: {
                    learningID: '<%= learning.id %>',
                    bookID: '<%= learning.bookMaster.id %>'
                },
                cache: false,
                async: false,
                success: function (data) {
                    $('#detail-<%= learning.id %>').html(data);
                },
                error: function () {
                    alert('Error')
                }
            })
        // })

        $.ajax({
            url: '/japtool/home/loadSumary',
            type: 'GET',
            data: {
                learningID: '<%= learning.id %>',
                bookID: '<%= learning.bookMaster.id %>'
            },
            cache: false,
            async: false,
            success: function (data) {
                // console.log(data);
                $('#passNum-<%= learning.id %>').text(data.passedNum);
                $('#falsedNum-<%= learning.id %>').text(data.fasledNum);
            },
            error: function () {
                alert('Error')
            }
        })

        $('.show-hide-detail-<%= learning.id %>').click(function () {
            toggleDetail('<%= learning.id %>');
        })

    <%})%>

    <% if (noMore) { %>
        $(".loadmore").remove();
    <% } %>
</script>