<div class="row form-showBook">
    <% for(var i = 0;i < books.length;i++){ %>
    <div class="col-sm-4">

        <div class="row">
            <div class="col-sm-2">

                <% if (books[i].image) { %>
                <img id="imglink<%= books[i].id %>" src="/media/image/<%= books[i].image %>" width="45"
                     height="45"/>
                <% } else { %>
                <img id="imglink<%= books[i].id %>" src="/images/bookicon.jpg" width="45" height="45"/>
                <% } %>

            </div>
            <div class="col-sm-9">
                <input type="hidden" id="bookid<%= books[i].id %>" value="<%= books[i].id %>">
                <a onclick="addbook('<%= books[i].id %>')" id="bookname<%= i %>"
                   title="<%= books[i].name %>"><p
                            class="lbUser"><%= books[i].name %></p></a>
                <% if(level == 0){
                %>
                <p title="<%= books[i].level %>" id="booklv<%= books[i].id %>">Level
                    : <%= books[i].level %></p>
                <%
                } %>

            </div>
        </div>
    </div>
    <% } %>
</div>
