<div class="wrapper learning-group">
    <div class="container">
        <div class="row">
            <div class="content">
                <h2 id="add-book-detail"><%= book.name %> <span id ="lessonName"></span></h2>
                <input type="hidden" id="learnID" value="<%= learnID %>">
                <input type="hidden" id="currentLessonID">
                <input type="hidden" id="passMark" value="<%= Constants.passMark %>">
                <div id="learning-nav" class="skin-green sidebar-mini">
                    <div class="wrapper">
                        <header class="main-header">
                            <!-- Logo -->
                            <a href="" class="logo" data-toggle="offcanvas" role="button">
                                <!-- mini logo for sidebar mini 50x50 pixels -->
                                <span class="logo-mini" class="sidebar-toggle"><i class="fa fa-bars"></i></span>
                                <!-- logo for regular state and mobile devices -->
                                <span class="logo-lg"><i class="fa fa-bars"></i><%= __('Lesson') %></span>
                            </a>
                            <!-- Header Navbar: style can be found in header.less -->
                        </header>
                        <!-- Left side column. contains the logo and sidebar -->
                        <aside class="main-sidebar">
                            <!-- sidebar: style can be found in sidebar.less -->
                            <section class="sidebar pre-scrollable">
                                <!-- Sidebar user panel -->
                                <ul class="sidebar-menu">
                                    <% 
                                    var lessionName = '';

                                    for (var i = 0; i < lessonList.length; i++) {
                                        
                                        lessionName = lessonList[i].lesson;

                                        // pre-check status
                                        var status = "lesson-success";
                                        var noHis = true;
                                        for (var subIdx = i; subIdx < lessonList.length; subIdx++) {
                                            if (lessionName == lessonList[subIdx].lesson) {
                                                if (lessonList[subIdx].learnHistory) {
                                                    noHis = false;

                                                    if (!lessonList[subIdx].learnHistory.status || lessonList[subIdx].learnHistory.status != 'passed'){
                                                        status = 'lesson-danger';
                                                    }
                                                }
                                                
                                            } else {
                                                break;
                                            }
                                        }

                                        if (noHis){
                                             status = '';
                                        }


                                        %>
                                        
                                        <li class="treeview">
                                            <a class="lesson <%= status%>" href="javascript: void(0)">
                                                <i class="fa fa-edit"></i> <span><%= lessonList[i].lesson %></span>
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </a>

                                            <ul class="treeview-menu">

                                            <%
                                            for (subIdx = i; subIdx < lessonList.length; subIdx++) {
                                                if (lessionName == lessonList[i].lesson) {

                                                    if (!lessonList[subIdx].learnHistory || !lessonList[subIdx].learnHistory.status) {
                                                        status = '';
                                                    } else if ( !lessonList[subIdx].learnHistory.status || lessonList[subIdx].learnHistory.status != 'passed') {
                                                        status = 'lesson-danger';
                                                    } else {
                                                        status = 'lesson-success';
                                                    }

                                                    %>
                                                        <li><a class="sub-lesson <%= status%>" href='javascript: void(0)'
                                                               id="<%= lessonList[i].id %>"
                                                               onclick="loadLesson('<%= lessonList[i].useModule %>', <%=
                                                                   lessonList[i].dataExtractCondition %>, '<%= lessonList[i].id %>','<%= lessonList[i].lesson %>','<%= lessonList[i].subLesson %>');"><i
                                                                        class="fa fa-circle-o"></i> <%= lessonList[i].subLesson
                                                                %></a>
                                                        </li>
                                                    <%
                                                    i += 1;

                                                } else { 
                                                    i -= 1;

                                                    break;
                                                }
                                            }
                                            %>

                                            </ul>
                                        </li>
                                    <%
                                    }
                                    %>                                    
                                </ul>
                            </section>
                            <!-- /.sidebar -->
                        </aside>
                        
                        <!-- Content Wrapper. Contains page content -->
                        <div class="content-wrapper content-lesson">
                            <section class="content-wrapper-body">
                                <div class="row">
                                    <div id="container-learn">
                                        <% if( !goLessonID ){ %>
                                        <h3 class="text-center text-danger"><%= book.name %></h3>

                                        <div class="row">
                                            <div class="col-sm-6 text-right"><span><%= __("Type") %>: </span></div>
                                            <div class="col-sm-6"><%= book.type %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Level") %>: </span></div>
                                            <div class="col-sm-6"><%= book.level %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Sort") %>: </span></div>
                                            <div class="col-sm-6"><%= book.sort %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Number Lesson") %>: </span>
                                            </div>
                                            <div class="col-sm-6"><%= book.lessonNum %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Learn Hour") %>: </span>
                                            </div>
                                            <div class="col-sm-6"><%= book.hoursForLearn %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Number User") %>: </span>
                                            </div>
                                            <div class="col-sm-6"><%= book.usedNum %></div>
                                            <div class="col-sm-6 text-right"><span><%= __("Description") %>: </span>
                                            </div>
                                            <div class="col-sm-6"><%= book.description %></div>
                                        </div>
                                        <% } else{ %>
                                        <input type="hidden" id="goLessonID" value="<%= goLessonID %>">
                                        <% } %>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- ./wrapper -->
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function loadLesson(module, condition, subLessonID, lesson, subLesson) {

        loadContent(module, condition);

        setCurrentStatus(subLessonID, lesson, subLesson);
        
        <% if( !preview ){ %>
            logStart(subLessonID);
        <% } %>
    }
    function loadContent(module, condition) {
        var strCondition = JSON.stringify(condition);
        $('#container-learn').load('/japtool/' + module + '/?condition=' + strCondition);
    }

    function setCurrentStatus(subLessonID, lesson, subLesson){
        $('#currentLessonID').val(subLessonID);

        $("a.sub-lesson").removeClass("font-weight-sub-lesson");
        $('#' + subLessonID).addClass("font-weight-sub-lesson");

        $('#lessonName').html('&nbsp;/&nbsp;' + lesson + '-' + subLesson);
    }

    function logStart(subLessonID) {
        <% if( !preview ){ %>
            var learnID = $('#learnID').val();
            $.ajax({
                method: "POST",
                url: "/japtool/Learning/saveHistory",
                data: {
                    selfLearning: learnID,
                    bookDetail: subLessonID
                }
            })
            .done(function (msg) {
                console.log(msg);
            });
        <% } %>
    }
    function logFinish(mark) {
        <% if( !preview ){ %>
            var learnID = $('#learnID').val();
            var subLessonID = $('#currentLessonID').val();
            mark = Number(mark);
            
            updateTreeViewStatus(subLessonID, mark);

            $.ajax({
                method: "POST",
                url: "/japtool/Learning/saveHistory",
                data: {
                    selfLearning: learnID,
                    bookDetail: subLessonID,
                    mark: mark
                }
            })
            .done(function (msg) {
                console.log(msg);
            });
        <% } %>
    }
    function updateTreeViewStatus(subLessonID, mark){
        var currentItem = $('#' + subLessonID);
        var passMark = $('#passMark').val();

        if (mark >= passMark){
            currentItem.removeClass("lesson-danger").addClass("lesson-success");
        }else {
            currentItem.removeClass("lesson-success").addClass("lesson-danger");
        }

        var success = true; 
        currentItem.closest(".treeview").find(".sub-lesson").each(function (index) {
            if (!$(this).hasClass("lesson-success")) {
                success = false;
            }
        });

        if (success){
            currentItem.closest(".treeview").find(".lesson").removeClass("lesson-danger").addClass("lesson-success");
        }else {
            currentItem.closest(".treeview").find(".lesson").removeClass("lesson-success").addClass("lesson-danger");
        }
    }
    function openTreeView(lessonID) {
        $(".treeview").removeClass("active");
        $("#" + lessonID).closest('.treeview').addClass('active');
    }
    function nextLesson() {
        var nextIndex = -1;
        var currentItemID = $('#currentLessonID').val();
        $(".sidebar-menu .treeview-menu").find(".menu-open").removeClass("menu-open");
        $("a.sub-lesson").each(function (index) {
            if ( $(this).prop('id') == currentItemID ){
                nextIndex = index + 1;
            }
            if (index == nextIndex) {
                var nextItemID = $(this).prop('id');
                openTreeView(nextItemID);
                $("#"+nextItemID).trigger("click");
                return false;
            }
        });
    }
   
    window.onload = function () {
        var goLessonID = $('#goLessonID').val();
        if (goLessonID) {
            $("#"+goLessonID).trigger("click");
            openTreeView(goLessonID);
        }
    }

</script>
