<div class="container">
    <div class="row">

		<table class='table table-bordered table-hover'>
		  	<tr>
		  	<th>No</th>
		  	<th>cover</th>
		  	<th>Name</th>
		  	<th>Description</th>
		  	<th>Type</th>
		  	<th>Level</th>
		  	<th></th>
		  	</tr>

			<% books.forEach( function(book, index){ %>
		  	<tr>
		  	<td><%= index + 1 %></td>
		  	<td>
		  		<% if (book.image) { %>
		  			<img src="/media/image/<%=book.image%>" height="70" width="50">
		  		<% } else {%>
		  			<img src="/images/book_default_cover.png" height="70" width="50">
		  		<% } %>
		  	</td>
		  	<td><%= book.name %></td>
		  	<td><%= book.description %></td>
		  	<td><%= book.type %></td>
		  	<td><%= book.level %></td>
		  	<td>
		  	<a class="btn btn-warning btn-xs" href="/admin/search/lesson/<%=book.id %>">Choose</a>  
		  	</td></tr>
			<% }); %>
		</table>

    </div>
</div>
