<div class="container">
    <div class="details-article">
        <div class="row">
            <div class="col-sm-12">
                <label class="lb-details-ar lead">Details Article</label>
                <hr class="hr-details">
            </div>
            <div class="col-sm-6">
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>subject:</label> <%=Article.subject%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>content:</label> <%=Article.content%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>explaination:</label><%=Article.explaination%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>sort:</label><%=Article.sort%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>translation:</label> <%=Article.translation%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>level:</label> <%=Article.level%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>tag:</label> <%=Article.tag%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>category:</label> <%=Article.category%>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <!--display media-->
                <div class="col-sm-12">
                    <div class="row row-pill">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#Video">Video</a></li>
                            <li><a data-toggle="pill" href="#Audio">Audio</a></li>
                            <li><a data-toggle="pill" href="#image">Image</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="Video" class="tab-pane fade in active">
                        <div class="col-sm-12 col-media">
                            <video class="video-form" controls>
                                <source src="/showVideo/<%=Article.video%>" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div id="Audio" class="tab-pane fade">
                        <div class="col-sm-12 col-media">
                            <audio class="audio-form"  controls>
                                <source src="/showAudio/<%=Article.audio%>"  type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    <div id="image" class="tab-pane fade">
                        <div class="col-sm-12 col-media">
                            <img src="/showImage/<%=Article.image%>" class="img-thumbnail">
                        </div>
                    </div>
                </div>
                <!--finish display media-->
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <hr class="hr-details">
                    <div class="col-sm-12">
                        <a href="/showAllArticle" class="btn btn-success btn-show-all-ar">Show All Article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>