<%
var size = articles.length;
%>
<%
if(size == 0) {
%>
<br><br><br><h3>List articles is Empty ! Go to <a href="/addArticle">Add Article</a></h3><br><br><br>
<%
} else {
%>
<div class="container">
    <div class="all-article">
        <div class="row">
            <h2>All Article</h2>
            <table class="table" >
                <thead>
                <tr class="success">
                    <td>subject</td>
                    <td>level</td>
                    <td>tag</td>
                    <td>category</td>
                    <td >Action</td>
                    <td >Action</td>
                </tr>
                </thead>
                <% _.each(articles , function (article){ %>
                <tr>
                    <td>
                        <form method="post" action="displayArticle">
                            <input type="text" hidden="hidden" value="<%= article.id %>" name="id">
                            <button type="submit" class="btn-update-article"><%= article.subject %></button>
                        </form>
                    </td>
                    <td><%= article.level %></td>
                    <td><%= article.tag %></td>
                    <td><%= article.category %></td>
                    <td><a href="/deleteArticle/<%= article.id %>">Delete</a></td>
                    <td>
                        <!--<form action="editArticle" method="post">-->
                            <!--<input type="text" hidden="hidden" value="<%= article.id %>" name="id">-->
                            <!--<button type="submit" class="btn-update-article">Update</button>-->
                        <!--</form>-->
                        <a href="editArticle/?id=<%= article.id %>">Edit</a>
                    </td>
                </tr>
                <%
                }) %>
            </table>
        </div>
        <div class="row">
            <a href="/pointToAddQue" class="btn btn-primary btn-all">Add Question</a>
            <a href="/addArticle" class="btn btn-primary btn-all">Add Article</a>
        </div>
    </div>
</div>
<%
}
%>
