<div class="container">
    <div class="row">
        <form action="updateArticle" enctype="multipart/form-data" id="editArticleForm" method="post">
            <div class="edit-article">
                <div class="col-sm-12">
                    <label class="lb-edit-ar lead">Edit Article</label>
                    <hr class="hr-edit">
                </div>
                <input type="text" hidden="hidden" value="<%=Article.id%>" name="id"/>
                <div class="col-sm-1">
                    <label>subject</label>
                </div>
                <div class="col-sm-11">
                    <input type="text" class="form-control txt-box" id="" value="<%=Article.subject%>" placeholder="subject" name="subject">
                </div>
                <div class="col-sm-1">
                    <label>content</label>
                </div>
                <div class="col-sm-11">
                    <textarea  type="text" class="form-control txt-box" id="" placeholder="content" name="content" row="3"><%=Article.content%></textarea>
                </div>
                <div class="col-sm-1">
                    <label>explaination</label>
                </div>
                <div class="col-sm-11">
                    <textarea  type="text" class="form-control txt-box" id=""  placeholder="explaination" name="explaination" row="3"><%=Article.explaination%></textarea>
                </div>
                <div class="col-sm-1">
                    <label>translation</label>
                </div>
                <div class="col-sm-11">
                    <textarea  type="text" class="form-control txt-box" id=""  placeholder="translation" name="translation" row="3"><%=Article.translation%></textarea>
                </div>
                <div class="col-sm-1">
                    <label>level</label>
                </div>
                <div class="col-sm-11">
                    <input type="text" class="form-control txt-box" id="" value="<%=Article.level%>" placeholder="level" name="level">
                </div>
                <div class="col-sm-1">
                    <label>tag</label>
                </div>
                <div class="col-sm-11">
                    <input type="text" class="form-control txt-box" id="" value="<%=Article.tag%>" placeholder="tag" name="tag">
                </div>
                <div class="col-sm-1">
                    <label>category</label>
                </div>
                <div class="col-sm-11">
                    <select name="category" class="form-control txt-box">
                        <option value="<%=Article.category%>"><%=Article.category%></option>
                        <%if(Article.category!="listening") {
                            %>
                            <option value="listening">listening</option>
                        <%
                        }%>
                        <%if(Article.category!="talking") {
                            %>
                            <option value="listening">talking</option>
                        <%
                        }%>
                        <%if(Article.category!="reading") {
                            %>
                            <option value="listening">reading</option>
                        <%
                        }%>
                        <%if(Article.category!="writing") {
                            %>
                            <option value="listening">writing</option>
                        <%
                        }%>
                    </select>
                </div>
                <!--this textbox let we know , user change media ot not-->
                <input type="text" hidden="hidden"  name="isVideoChange" id="hid-video" value="no"/>
                <!--this textbox let we know , user change media ot not-->
                <input type="text" hidden="hidden"  name="isAudioChange" id="hid-audio" value="no"/>
                <!--this textbox let we know , user change media ot not-->
                <input type="text" hidden="hidden"  name="isImgChange" id="hid-img" value="no"/>
                <div class="row text-center">
                    <!--display media-->
                    <div class="col-sm-12">
                        <hr>
                        <div class="row row-pill">
                            <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="pill" href="#Video">Video</a></li>
                                <li><a data-toggle="pill" href="#Audio">Audio</a></li>
                                <li><a data-toggle="pill" href="#image">Image</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="Video" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-sm-12 col-media" id="div-show-video">
                                    <video class="video-form" controls>
                                        <source src="/showVideo/<%=Article.video%>" type="video/mp4">
                                    </video>
                                    <button type="button" id="editVideo" class="glyphicon glyphicon-wrench btn-changeMedia">edit</button>
                                </div>
                                <!--div hidden, this div let user change media-->
                                <div class="col-sm-12 col-media" id="div-hide-video">
                                    <input type="file" name="video" multiple="multiple" accept="video/*" id="file-edit-video" class="txt-box file-ch">
                                    <button type="button" id="cancleVideo" class="glyphicon glyphicon-floppy-remove btn-changeMedia">Cancle</button>
                                </div>
                            </div>
                        </div>
                        <div id="Audio" class="tab-pane fade">
                            <div class="col-sm-12 col-media" id="div-show-audio">
                                <audio class="audio-form"  controls>
                                    <source src="/showAudio/<%=Article.audio%>"  type="audio/mpeg">
                                </audio>
                                <button type="button" id="editAudio" class="glyphicon glyphicon-wrench btn-changeMedia">edit</button>
                            </div>
                            <!--div hidden, this div let user change media-->
                            <div class="col-sm-12 col-media" id="div-hide-audio">
                                <input type="file" name="audio" multiple="multiple" accept="audio/*" id="file-edit-audio" class="txt-box file-ch">
                                <button type="button" id="cancleAudio"  class="glyphicon glyphicon-floppy-remove btn-changeMedia">Cancle</button>
                            </div>
                        </div>
                        <div id="image" class="tab-pane fade">
                            <div class="col-sm-12 col-media" id="div-show-img">
                                <img src="/showImage/<%=Article.image%>" class="img-thumbnail">
                                <button type="button" id="editImg" class="glyphicon glyphicon-wrench btn-changeMedia">edit</button>
                            </div>
                            <!--div hidden, this div let user change media-->
                            <div class="col-sm-12 col-media" id="div-hide-img">
                                <input type="file" name="img" multiple="multiple" accept="image/*" id="file-edit-img" class="txt-box file-ch">
                                <button type="button" id="cancleImg" class="glyphicon glyphicon-floppy-remove btn-changeMedia">Cancle</button>
                            </div>
                        </div>
                    </div>
                    <!--finish display media-->
                </div>
                <hr class="hr-edit">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="submit" class="btn btn-success btn-edit-ar">Update Article</button>
                </div>
            </div>
        </form>
    </div>
</div>