
<script src="/js/dependencies/jquery-1.9.1.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div class="row">
  <div class="col-sm-6 col-md-5 ">

    <div class="carousel slide" id="carouselID" data-wrap="false" data-interval="false" >
      <div class="carousel-inner">
        <div class="item active">
          <div class="flip"> 
            <div class="card"> 
              <div class="face front">
                <div class="col-sm-12">
                  <% if (vocabularies[0].image ){%>
                  <img src="/images/<%=vocabularies[0].image%>" class="image_card" ></img>
                  <%}%>
                </div> 
                <div class="col-sm-12 word_card">
                  <p class="word"><%=vocabularies[0].item%></p>
                  <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="footer">
                  <p>1/<%=vocabularies.length%></p>
                </div>
              </div> 
              <div class="face back">
                <div class="col-sm-12 top-space">
                  <%i=1%>
                  <% if (vocabularies[0].reading){%>
                    <p><%=i%>.読み方</p>
                    <p class="left-space"><%=vocabularies[0].reading%></p>
                    <%i=i+1%>
                  <%}%>
                  <% if (vocabularies[0].description){%>
                    <p><%=i%>.意味</p>
                    <p class="left-space"><%=vocabularies[0].description%></p>
                    <%i=i+1%>
                  <%}%>
                  <% if (typeof vocabularies[0].examples !== 'undefined' && vocabularies[0].examples.length > 0){%>
                    <p><%=i%>.例文</p>
                    <% vocabularies[0].examples.forEach( function( item, j){ %>
                    <% if ( j < 2){%>
                    <li  class="examples left-space" 
                        data-toggle="tooltip" 
                        data-placement="right" 
                        title="<%=item.meaning%>"><%=item.example%></li>
                    <%}%>
                    <%})%>
                    <%i=i+1%>
                  <%}%>
                  <% if (vocabularies[0].synonymous){%>
                    <p><%=i%>.同義語</p>
                    <p class="synonymous left-space"><%=vocabularies[0].synonymous%></p>
                    <%i=i+1%>
                  <%}%>
                  <% if (vocabularies[0].antonymous){%>
                    <p><%=i%>.反対語</p>
                    <p class="antonymous left-space"><%=vocabularies[0].antonymous%></p>
                    <%i=i+1%>
                  <%}%>
                </div> 
              </div>
            </div> 
          </div>
        </div>
        <% vocabularies.forEach( function( vocabulary, index){ %>
        <% if(index > 0){ %>
          <div class="item">
            <div class="flip"> 
              <div class="card"> 
                <div class="face front">
                  <div class="col-sm-12">
                    <% if (vocabulary.image){%>
                    <img src="/images/<%=vocabulary.image%>" class="image_card" ></img>
                    <%}%>
                  </div>
                  <div class="col-sm-12 word_card">
                    <p class="word"><%=vocabulary.item%></p>
                    <span class="glyphicon glyphicon-play"></span>
                  </div>
                  <div class="footer">
                    <p><%=index+1%>/<%=vocabularies.length%></p>
                  </div>
                </div> 

                <div class="face back">
                  <div class="col-sm-12 top-space">
                    <%i=1%>
                    <% if (vocabulary.reading){%>
                      <p><%=i%>.読み方</p>
                      <p class="left-space"><%=vocabulary.reading%></p>
                      <%i=i+1%>
                    <%}%>
                    <% if (vocabulary.description){%>
                      <p><%=i%>.意味</p>
                      <p class="left-space"><%=vocabulary.description%></p>
                      <%i=i+1%>
                    <%}%>
                    <% if (typeof vocabulary.examples !== 'undefined' && vocabulary.examples.length > 0){%>
                      <p><%=i%>.例文</p>
                      <% vocabulary.examples.forEach( function( item, j){ %>
                      <% if ( j < 2){%>
                      <li class="examples left-space" 
                          data-toggle="tooltip" 
                          data-placement="right" 
                          title="<%=item.meaning%>"><%=item.example%></li>
                      <%}%>
                      <%})%>
                      <%i=i+1%>
                    <%}%>
                    <% if (vocabulary.synonymous){%>
                      <p><%=i%>.同義語</p>
                      <p class="synonymous left-space"><%=vocabulary.synonymous%></p>
                      <%i=i+1%>
                    <%}%>
                    <% if (vocabulary.antonymous){%>
                      <p><%=i%>.反対語</p>
                      <p class="antonymous left-space"><%=vocabulary.antonymous%></p>
                      <%i=i+1%>
                    <%}%>
                  </div> 
                </div>
              </div> 
            </div>
          </div>
        
        <% } %>
        <% }); %>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#carouselID" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" ></span>
      </a>
      <a class="right carousel-control" href="#carouselID" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" ></span>
      </a>
    </div>
  </div>
</div>

<script>
  $(function () {
    // slide show 
    $('#carouselID').ready(function(){
      $('.carousel').carousel({
        interval: false,
        wrap: false
      });
    });

    $('.carousel-control.right').click(function(){
      if ($('#carouselID .carousel-inner .item:last').hasClass('active')) {
          /*$('#modalID').modal('show');*/
        } 
    });

    // Flip flashcard when click
    $('.flip').click(function(event){
      $(this).find('.card').toggleClass('flipped');
      return false;
    });

    // Disable flip flashcard action when click
    $('.flip .glyphicon-play,.flip .back .examples,.flip .back .synonymous,.flip .back .antonymous').click(function(e) {
        e.stopPropagation();
    });

    // pronounce vocabulary function
    var playAudio = function(word){
      var word = encodeURIComponent(word);
      io.socket.post('/japtool/vocabulary/pronounce',{word: word}, function(data) {
        var audio = new Audio("data:audio/mp3;base64," + data.audio);
        audio.play();
      });
      // var audio = new Audio();
      // audio.src ="https://api.voicerss.org/?key=6e1c89141fe9405198f5c8c9e33e0dd3&hl=ja-jp&r=0&c=mp3&f=48khz_16bit_stereo&src=難しい";
      // audio.play();
    };

    // pronounce word which display in front of flash card
    $('.glyphicon-play').click(function(){
      var word= $('.active .front .word').text();
      playAudio(word);
    });

    // pronounce example which display in back of flash card
    $('.back .examples').click(function(){
      var word= $(this).text();
      playAudio(word);
    });

    // pronounce synonymous which display in back of flash card
    $('.back .synonymous').click(function(){
      var word= $('.active .back .synonymous').text();
      playAudio(word);

    });
    
    // pronounce antonymous which display in back of flash card
    $('.back .antonymous').click(function(){
      var word= $('.active .back .antonymous').text();
      playAudio(word);
    });
  });
</script>