<script>
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: false,
        asNavFor: '.slider-nav',
        draggable: false,
        touchMove: false,
        accessibility: false,
        infinite: false,
        prevArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-left" aria-label="Previous" tabindex="0" role="button"><i class="fa fa-chevron-left" style="color:LightGray"></i></button>',
        nextArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-right" aria-label="Next" tabindex="0" role="button"><i class="fa fa-chevron-right" style="color:LightGray"></i></button>'
    });
    $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 3,
        asNavFor: '.slider-for',
        dots: false,
        centerMode: true,
        focusOnSelect: true,
        infinite: false,
        accessibility: false
    });
    var audioconfig = true;
    var infoconfig = true;
    // when slide is last slide
    $('.slider-for').on('afterChange', function (event, slick, currentSlide, nextSlide) {
        var slideCount = $("#countPage").text();

        //if(slideCount==(currentSlide+3)){
        if(slideCount==(currentSlide)){
            audioconfig=false;
            infoconfig=false;
            $("#vocabularyList .btn-arrow-right").hide();
            $("#vocabularyList .slider-nav").hide();
        }
    });
    $("#vocabularyList .btn-arrow-left").on("click",function(){
        $("#vocabularyList .btn-arrow-right").show();
        $("#vocabularyList .slider-nav").show();
        audioconfig=true;
        infoconfig=true;
    });
    $("#vocabularyList .slick-prev").on("click",function(){
        $("#vocabularyList .btn-arrow-right").show();
        $("#vocabularyList .slider-nav").show();
        audioconfig=true;
        infoconfig=true;
    });
    var current_slide = 0;
    $(document).ready(function () {
        $('.info-off').hide();
        $('.info-on').on('click', function () {
            $('.info-off').show();
            $('.info-on').hide();
            infoconfig = false;
            //Hide all info
            $("[class^='info-item-']").slideUp(500);
        });
        $('.info-off').on('click', function () {
            $('.info-on').show();
            $('.info-off').hide();
            infoconfig = true;
            //Show current slide details
            showDetails(current_slide);
        });
        $('.mic-off').hide();
        $('.mic-on').on('click', function () {
            $('.mic-off').show();
            $('.mic-on').hide();
            audioconfig = false;
        });
        $('.mic-off').on('click', function () {
            $('.mic-on').show();
            $('.mic-off').hide();
            audioconfig = true;
        });
    });
    // Google TEXT TO SPEECH
    function text2speech(w, id) {
        $('#vocabulary-audio-' + id)[0].src = "/media/audio/" + w;
    }
    function playAudio(id) {
        if (audioconfig) {
            $('#vocabulary-audio-' + id)[0].play();
        }
    }
    //END TEXT2SPEECH
    function showExample(index) {
        $('.exam-' + index).delay(1000).slideDown();
    }
    function showDetails(index) {
        if (infoconfig) {
            $('.info-item-' + index).slideDown();
        }
    }
    function alwaysShowDetails(index) {
        $('.info-item-' + index).slideDown();
    }
    function learnAgain(){
        window.location.replace(window.location.href);
    }
    $(document).ready(function () {
        // count page
        var $status = $('.pagingCnt');
        var $slickElement = $('.slider-for');
        $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
            //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
            var i = (currentSlide ? currentSlide : 0) + 1;
            $status.text(i + '/' + (slick.slideCount - 1));
            current_slide = currentSlide;
        });
        $('.slider-for').on('afterChange', function (event, slick, currentSlide) {
            //Show Details
            showDetails(currentSlide);
            //Play audio
            playAudio(currentSlide);
            //Show Example
            showExample(currentSlide);
        });
    });
    $('span').tooltip();
</script>

<div id="vocabularyList" class="voca-list-sum">
    <%
    var sumPage = vocabularies.length;
    if(vocabularies == null || vocabularies.length == 0){
    %>
    <h5 class="text-center text-danger"><%= __("didn't find any data") %></h5>
    <% }else{ %>
    <div class="slide">
        <div class="slider slider-for">
            <% vocabularies.forEach( function(vocabulary, index){ %>
            <div class="learn-vocabulary">
                <div class="col-sm-offset-2 col-sm-8">
                    <div class="panel panel-default panel-paper-slide-voca">
                        <div class="panel-body">
                            <div class="icon-controll-prac-voca">
                                <i class="fa fa-check-circle-o fa-2x info-on" title="<%= __("off informations") %>"></i>
                                <i class="fa fa-minus-circle fa-2x info-off" title="<%= __("on informations") %>"></i>
                                &nbsp;
                                <i class="fa fa-volume-up mic-on" data-toggle="tooltip" title="<%= __("off audio") %>"></i>
                                <i class="fa fa-volume-off mic-off" data-toggle="tooltip" title="<%= __("on audio") %>"></i>
                            </div>
                            <div class="col-sm-12">
                                <div class="card text-center">
                                    <p class="info-item-<%= index %> not-display" style="cursor: pointer"
                                       onclick="playAudio(<%= index %>);">
                  <span class="text-success">
                    <i class="fa fa-microphone text-danger"></i> :
                  </span>
                                        <%= vocabulary.reading %>
                                    </p>

                                    <div class="front">
                                        <audio id="vocabulary-audio-<%= index %>"></audio>
                                        <h3 class="text-center text-danger text-center-list-voca"
                                            onclick="alwaysShowDetails(<%= index %>); playAudio('<%= index %>');"><%= vocabulary.item %>
                                        </h3>
                                    </div>
                                </div>
                                <div class="details-voca">
                                    <% if(vocabulary.description){ %>
                                    <p class="info-item-<%= index %> not-display">
                  <span class="lb-mean size-lb">
                    <i class="fa fa-flag-o fa-lg" title="description"></i> <%= vocabulary.description %>
                  </span>
                                    </p>
                                    <% } %>
                                    <% if (typeof vocabulary.examples !== 'undefined' && vocabulary.examples.length > 0) { %>
                                    <p class="exam-<%= index %> not-display lb-example">
                                        <i class="fa fa-file-text fa-lg" title="Example"></i>
                                    </p>
                                    <ul class="exam-<%= index %> not-display vocabulary-item-example">
                                        <% vocabulary.examples.forEach( function(item, index){ %>
                                        <% if (item.example == 'undefined' || item.example.length == 0){ %>
                                        <% }else { %>
                                        <li>
                    <span class="text-danger exam-cont" data-toggle="tooltip" data-placement="top"
                          title="<%= item.meaning %>">
                      <%= index + 1 %>. <%= item.example %>
                    </span>
                                        </li>
                                        <% } %>
                                        <% }) %>
                                    </ul>
                                    <% } %>
                                </div>
                            </div>
                            <span class="pagingCnt">1/<%= sumPage %></span>
                            <span id="countPage" style="display:none;"><%= sumPage %></span>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
            <div class="learn-vocabulary">
                <div class="col-sm-offset-2 col-sm-8 lastSlide text-center">
                    <div class="col-sm-6 last-left">
                        <div class="col-sm-12 description">
                            <i class="fa fa-child fa-2x icon"></i><strong><%=__("your flashcard finish")%> !</strong>
                            <br><br>
                            <p class="text-left"><%=__("Learn Again")%> : <%=__("Learn this sublesson again")%></p>
                            <p class="text-left"><%=__("Next Lesson")%> : <%=__("Learn missed lesson or new lesson")%></p>
                        </div>
                    </div>
                    <div class="col-sm-6 last-right">
                        <p><a onclick="logFinish(100); learnAgain();" class="btn"><%=__("Learn Again")%></a>
                        <p><a onclick="logFinish(100); nextLesson();" class="btn"><%=__("Next Lesson")%></a>
                    </div>
                </div>
            </div>
        </div>
        <!--scroll bar-->
        <div class="col-sm-offset-2 col-sm-8">
            <div class="slider slider-nav">
                <% vocabularies.forEach( function(vocabulary){ %>
                <div><h3><%= vocabulary.item %></h3></div>
                <% }) %>
            </div>
        </div>
    </div>
    <% } %>
</div>
<!--GET AUDIO DATA-->
<script>
    <% vocabularies.forEach( function(vocabulary, index){ %>
       <% if(typeof vocabulary.audio!=='undefined' && vocabulary.audio!=null){ %>
            text2speech('<%= vocabulary.audio %>',<%= index %>);
       <% } %>
    <% }) %>
    (function () {
        //Show details of first voca
        showDetails(0);
        //Play audio of first voca
        playAudio(0);
        //Show exam of first voca
        showExample(0);
    })();
</script>
<!--END GET AUDIO DATA-->


