<div class="container">
    <div class="row">

		<table class='table table-bordered table-hover'>
		  	<tr>
		  	<th>No</th>
		  	<th>cover</th>
		  	<th>Name</th>
		  	<th>Description</th>
		  	<th>Type</th>
		  	<th>Level</th>
		  	<th>Published</th>
		  	<th>category</th>
		  	<th>complex</th>
		  	<th>lessonNum</th>
		  	<th>hourForLearn</th>
		  	<th>usedNum</th>
		  	<th>recommendNum</th>
		  	<th></th>
		  	</tr>

			<% books.forEach( function(book, index){ %>
		  	<tr>
		  	<td><%= index + 1 %></td>
		  	<td>
		  		<% if (book.image) { %>
		  			<img src="/media/image/<%=book.image%>" height="140" width="100">
		  		<% } else {%>
		  			<img src="/images/book_default_cover.png" height="140" width="100">
		  		<% } %>
		  	</td>
		  	<td><%= book.name %></td>
		  	<td><%= book.description %></td>
		  	<td><%= book.type %></td>
		  	<td><%= book.level %></td>
		  	<td><%= book.published %></td>
		  	<td><%= book.category %></td>
		  	<td><%= book.complex %></td>
		  	<td><%= book.lessonNum %></td>
		  	<td><%= book.hourForLearn %></td>
		  	<td><%= book.usedNum %></td>
		  	<td><%= book.recommendNum %></td>
		  	<td>
		  	<a class="btn btn-warning btn-xs" href="/admin/book/update/<%=book.id %>">Update</a>  
		  	</td></tr>
			<% }); %>
		</table>

    </div>
</div>
