<% if(code == 'success'){ %>
  <div class="wrapper">
    <div class="container">

      <div class="col-sm-12 text-center success-register">
        <h3><%= __('Active Success') %></h3>

        <p><%= __('Welcome to Japtool Learning.') %></p>

        <p><%= __('Click here to login system') %>
          <span class="label-success label">
            <a class="login-back" href="/japtool/auth"><%= __('Login') %></a>
          </span>
        </p>
      </div>
    </div>
  </div>
<% } else if(code == 'fail'){ %>
  <div class="wrapper">
    <div class="container">

      <div class="col-sm-12 text-center success-register">
        <h3><%= __('Active Fail') %></h3>

        <p><%= __('Your account is invalid.') %></p>

        <p><%= __('Click here to sign up') %>
          <span class="label-danger label">
            <a href="/japtool/user/new"><%= __('Sign Up') %></a>
          </span>
        </p>
      </div>
    </div>
  </div>
<% }  else if(code == 'waitActivate'){ %>
  <div class="wrapper">
    <div class="container">

      <div class="col-sm-12 text-center success-register">
        <h3><%= __('Thank for Your registration') %></h3>

        <p><%= __('Your account registration is successful! Please check your email to get activate link for your account') %></p>

        <p><%= __('Then click here to login and enjoy') %>
          <span class="label-success label">
            <a href="/japtool/auth"><%= __('Sign In') %></a>
          </span>
        </p>
      </div>
    </div>
  </div>
<% }  else if(code == 'resetPassword'){ %>
  <div class="wrapper">
    <div class="container">

      <div class="col-sm-12 text-center success-register">
        <h3><%= __('Reset password successful') %></h3>

        <p><%= __('Please check your email to get your new password. Login and change your password in the account management') %></p>

        <p><%= __('Click here to go login page') %>
          <span class="label-success label">
            <a href="/japtool/auth"><%= __('Sign In') %></a>
          </span>
        </p>
      </div>
    </div>
  </div>
<% } %>

