<form id="edit-info">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <input type="hidden" value="<%- user.id %>" name="userInfoId">

      <p class="leadInfo"><%= __('User Name') %></p>
      <hr>

      <label class="col-sm-3 control-label" for="input-firstname"><%= __('First Name') %> :</label>

      <div class="col-sm-9">
        <p>
          <% if(user.firstname === 'undefined'){ %>
          <input class="form-control" type="text" name="firstname" value="" placeholder="<%= __('Your First Name') %>"
                 id="input-firstname">
          <% }else{ %>
          <input class="form-control" type="text" name="firstname" value="<%= user.firstname %>"
                 placeholder="<%= __('Your First Name') %>" id="input-firstname">
          <% } %>
        </p>

        <p id="user-edit-mess-fName" style="display: none"></p>
      </div>
      <label class="col-sm-3 control-label" for="input-lastname"><%= __('Last Name') %> :</label>

      <div class="col-sm-9">
        <p>
          <% if(user.lastname === 'undefined'){ %>
          <input class="form-control" type="text" name="lastname" value="" placeholder="<%= __('Your Last Name') %>"
                 id="input-lastname">
          <% }else{ %>
          <input class="form-control" type="text" name="lastname" value="<%= user.lastname %>"
                 placeholder="<%= __('Your Last Name') %>" id="input-lastname">
          <% } %>
        </p>

        <p id="user-edit-mess-lName" style="display: none"></p>
      </div>

      <label class="col-sm-3 control-label" for="input-telephone"><%= __('E-Telephone') %> :</label>

      <div class="col-sm-9">
        <p>
          <% if(user.telephone === 'undefined'){ %>
          <input class="form-control" type="text" name="telephone" value="" placeholder="<%= __('Your telephone') %>"
                 id="input-telephone">
          <% }else{ %>
          <input class="form-control" type="text" name="telephone" value="<%= user.telephone %>"
                 placeholder="<%= __('Your telephone') %>" id="input-telephone">
          <% } %>

        </p>
      </div>
      <label class="col-sm-3 control-label" for="input-fax"><%= __('Fax') %> :</label>

      <div class="col-sm-9">
        <p>
          <% if(user.fax === 'undefined'){ %>
          <input class="form-control" type="text" name="fax" value="" placeholder="<%= __('Your fax') %>"
                 id="input-fax">
          <% }else{ %>
          <input class="form-control" type="text" name="fax" value="<%= user.fax %>" placeholder="<%= __('Your fax') %>"
                 id="input-fax">
          <% } %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <p class="leadInfo"><%= __('User Address') %></p>
      <hr>
      <label class="col-sm-3 control-label" for="input-company"><%= __('Company') %> :</label>

      <div class="col-sm-9">
        <p><input class="form-control" type="text" name="yourAddress[company]"
                  value="<%= user.yourAddress.company %>"
                  placeholder="<%= __('Your Company') %>" id="input-company"></p>
      </div>
      <label class="col-sm-3 control-label" for="input-address"><%= __('Address') %> :</label>

      <div class="col-sm-9">
        <p><input class="form-control" type="text" name="yourAddress[address]"
                  value="<%= user.yourAddress.address %>"
                  placeholder="<%= __('Your Address') %>" id="input-address"></p>
      </div>
      <label class="col-sm-3 control-label" for="input-city"><%= __('City') %> :</label>

      <div class="col-sm-9">
        <p><input class="form-control" type="text" name="yourAddress[city]" value="<%= user.yourAddress.city %>"
                  placeholder="<%= __('Your City') %>" id="input-city"></p>
      </div>
      <label class="col-sm-3 control-label" for="input-postCode"><%= __('Post Code') %> :</label>

      <div class="col-sm-9">
        <p><input class="form-control" type="text" name="yourAddress[postCode]"
                  value="<%= user.yourAddress.postCode %>"
                  placeholder="<%= __('Your PostCode') %>" id="input-postCode"></p>
      </div>
      <label class="col-sm-3 control-label" for="input-country"><%= __('Country') %></label>

      <div class="col-sm-9">
        <p><select name="yourAddress[country]" id="input-country" class="form-control">
            <% _.each(listCountry, function(listCountryItem){ %>
            <% if (user.yourAddress.country == listCountryItem.name){ %>
            <option value="<%= user.yourAddress.country %>" selected> <%= user.yourAddress.country %></option>
            <% } else{ %>
            <option value="<%= listCountryItem.name %>"><%= listCountryItem.name %></option>
            <% } %>
            <% }) %>
          </select>
      </div>
      <label class="col-sm-3 control-label" for="input-country"></label>

      <div class="col-sm-9">
        <button type="button" class="btn btn-sm btn-edit pull-right" id="btnSaveEdit"><%= __('Save') %> <span
            class="glyphicon glyphicon-saved"></span></button>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
  $("#btnSaveEdit").click(function () {
    var fName = $('#input-firstname').val().trim();
    var lName = $('#input-lastname').val().trim();
    if (!fName) {
      $('#input-firstname').val("");
    }
    if (!lName) {
      $('#input-lastname').val("");
    }
    $.ajax({
      url: '/japtool/user/update',
      type: 'POST',
      data: $('form#edit-info').serialize(),
      cache: false,
      success: function (data) {
        $('#default-show').html('');
        $('#default-show').html(data);
      },
      error: function () {
        alert('loi roi nhe');
      }
    });
  });
</script>
