<div class="container">
  <form name="getPassword" action="/japtool/user/passforget" method="POST">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="row">
          <div class="col-sm-12">
            <h3 style="font-weight: 400"><%= __('Did You Forget Your Password') %>?</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-primary">
              <i>
                <%= __('Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you') %>
                .
              </i>
            <p>
            <hr>
          </div>
        </div>
        <% if(flash && flash.err) { %>
        <ul class="alert alert-danger">
          <% Object.keys(flash.err).forEach(function(error) { %>
            <li>
              <h4> <%= flash.err[error].name %> </h4>
              <%= flash.err[error].message %> 
            </li>
          <% }) %>
        </ul>
        <% } %>
        <div class="row">
          <div class="form-group required account">
            <label class="col-sm-2 control-label" for="input-email"><%= __('Email') %>: </label>

            <div class="col-sm-8">
              <input type="email" name="email" value="" placeholder="<%= __('Email') %>" id="input-email"
                     class="form-control">
            </div>

            <div class="col-sm-2">
              <button type="submit" class="btn btn-danger"><%= __('Send Password') %></button>
            </div>
            <br><hr>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
