<div class="wrapper">
  <div class="container">

    <div class="col-sm-12 text-center success-register">
      <h3><%= __('Resgiter Success') %></h3>

      <p><%= __('Congratulation') %> <%= user.username %> <%= __('successfully registered account') %>.</p>

      <p><%= __('We sent active email for you, please active to complete registration') %>.</p>
      </p>
    </div>
  </div>
</div>
