<div class="container user-new">
  <div class="row">
    <h1><%= __('Register Account') %></h1>

    <div class=" clearfix">
      <div class="col-sm-8 row-no-padding-left">
        <p><%= __('If you already have an account with us, please login at the') %> <a
            href="/japtool/auth"><%= __('login page') %></a>.</p>
      </div>
      <div class="col-sm-2 row-no-padding-right">
        <a class="btn btn-block btn-sm btn-social btn-facebook" href="/auth/facebook">
          <i class="fa fa-facebook"></i> <%= __('Sign in with Facebook') %>
        </a>
      </div>
      <div class="col-sm-2 row-no-padding-right">
        <a class="btn btn-block btn-sm btn-social btn-google-plus" href="/auth/google">
          <i class="fa fa-google-plus"></i> <%= __('Sign in with Google') %>
        </a>
      </div>
    </div>
    <% if(flash && flash.err) { %>
    <ul class="alert alert-danger">
      <% Object.keys(flash.err).forEach(function(error) { %>
        <li>
          <h4> <%= flash.err[error].name %> </h4>
          <%= flash.err[error].message %> 
        </li>
      <% }) %>
    </ul>
    <% } %>
    <form action="/japtool/user/create" method="POST"
          enctype="multipart/form-data" class="form-horizontal form-register">
      <fieldset id="account">
        <legend><%= __('Your Personal Details') %></legend>
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-username"><%= __('Username') %></label>

          <div class="col-sm-10">
            <input type="text" name="username" value="" placeholder="<%= __('Username') %>" id="input-username"
                   class="form-control">
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-email"><%= __('Email') %></label>

          <div class="col-sm-10">
            <input type="email" name="email" value="" placeholder="<%= __('Email') %>" id="input-email"
                   class="form-control">
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-password"><%= __('Password') %></label>

          <div class="col-sm-10">
            <input type="password" name="password" value="" placeholder="<%= __('Password') %>" id="input-password"
                   class="form-control">
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-confirm"><%= __('Password Confirm') %></label>

          <div class="col-sm-10">
            <input type="password" name="confirmation" value="" placeholder="<%= __('Password Confirm') %>"
                   id="input-confirm" class="form-control">
          </div>
        </div>
      </fieldset>

      <input type='hidden' name='_csrf' value='<%= _csrf %>'>

      <div class="buttons submit-user-new clearfix">
        <div class="pull-right">
          <input type="submit" value="<%= __('Continue') %>" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
