<div class="container">
    <div class="row">
        <div class="profile clearfix">
            <div class="col-sm-3">
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <div class="row">
                                <input type="hidden" name="userID" id="userID" value="<%= user.id %>"/>

                                <div class="col-sm-12">
                                    <span class="lbUser"><%= user.username %></span>
                                    <% if(user.online){%>
                                     <i class="fa fa-circle-o-notch fa-spin online"></i>
                                    <% } else{ %>
                                        <i class="fa fa-circle-o-notch fa-spin"></i>
                                    <% } %>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12"><span class="lbLever"><%= __('Lever Of User') %></span></div>
                            </div>
                            <div class="avatar-user-image">
                                <% if(!user.avatar){ %>
                                <img src="/images/avatar/avatar.jpg" id="avatarPreview"/>
                                <% } else{ %>
                                <img src="/media/image/<%= user.avatar %>"/>
                                <% } %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <p><%= __('First Name') %> : <%= user.firstname %></p>

                                        <p><%= __('Last Name') %> : <%= user.lastname %></p>

                                        <p><%= __('Join Date') %> : <%= createDate %></p>

                                        <p><%= __('Total lesson') %> : value</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: none">
                            <div class="col-sm-offset-1 col-sm-10">
                                <span class="friendUser"><%= __('List Friends') %></span>
                            </div>
                        </div>
                        <div class="row" style="display: none">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <!--GRID OF List Friend-->
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   data-toggle="tooltip"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/df_ava.jpg"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display: none">
                            <div class="col-sm-offset-1 col-sm-10">
                                <span class="friendUser"><%= __('List Joined Group') %></span>
                            </div>
                        </div>
                        <div class="row" style="display: none">
                            <div class="col-sm-offset-1 col-sm-10">
                                <div class="panel panel-warning">
                                    <!--<div class="panel-heading">Details</div>-->
                                    <div class="panel-body">
                                        <!--GRID OF List Friend-->
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                            <div class="col-sm-4 text-center"><img class="imgDf"
                                                                                   src="/images/group-friends/df_group.png"
                                                                                   title="test!" width="20"
                                                                                   height="25"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#info"><%= __('Information') %></a></li>
                    <li STYLE="display: none"><a data-toggle="tab" href="#friend"><%= __('Friends') %></a></li>
                    <% if(session.user.id == user.id){ %>
                    <li><a data-toggle="tab" href="#password"><%= __('Change Password') %></a></li>
                    <li><a data-toggle="tab" href="#change-avatar"><%= __('Change Avatar') %></a></li>
                    <% } %>
                </ul>
                <div class="tab-content">
                    <div id="info" class="tab-pane fade in active">
                        <!--show use's info-->
                        <div id="default-show">
                            <%- partial('show-user-info.ejs') %>
                        </div>
                    </div>
                    <div id="friend" class="tab-pane fade" STYLE="display: none">
                        <div class="row">
                            <div class=" col-sm-12 form-listFriend">
                                <div class="row">
                                    <div class="form-search">
                                        <form name="" action="" method="">
                                            <div class="col-sm-offset-7 col-sm-3">
                                                <input class="form-control input-sm" name="tbSearch" value=""
                                                       id="input-search" placeholder="<%= __('Search By Name') %>"
                                                       type="text">
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit" class="btn btn-primary btnSearch"><span
                                                            class="glyphicon glyphicon-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <div class="infoUser mCustomScrollbar" data-mcs-theme="dark">
                                    <!--start a line three friend's info-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">Friend Name</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!--finish a line three friend's info-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-3 "><img src="/images/df_ava.jpg"
                                                                                            width="46" height="46"/>
                                                </div>
                                                <div class="col-sm-8">
                                                    <p class="lbUser">FriendName</p>

                                                    <p>Email : Value</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(session.user.id == user.id){ %>
                    <div id="password" class="tab-pane fade">
                        <form id="change-pass" name="change-pass">
                            <div class="row changePassword">
                                <div class="col-sm-offset-1 col-sm-9">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"
                                               for="input-OldPassword"><%= __('Old Password') %></label>

                                        <div class="col-sm-9">
                                            <p><input type="password" name="oldPasswordUser" value=""
                                                      placeholder="<%= __('Your Old Password') %>"
                                                      id="input-OldPassword" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"
                                               for="input-NewPassword"><%= __('New Password') %></label>

                                        <div class="col-sm-9">
                                            <p><input type="password" name="newPasswordUser" value=""
                                                      placeholder="<%= __('Your New Password') %>"
                                                      id="input-NewPassword" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"
                                               for="input-PasswordCf"><%= __('Password Confirm') %></label>

                                        <div class="col-sm-9">
                                            <p><input type="password" name="newPasswordUserCf" value=""
                                                      placeholder="<%= __('Confirm Your Password') %>"
                                                      id="input-PasswordCf" class="form-control">
                                        </div>
                                    </div>
                                    <input type='hidden' name='_csrf' value='<%= _csrf %>'>

                                    <div class="form-group">
                                        <label class="col-sm-3"></label>

                                        <div class="col-sm-9 pull-left">
                                            <!--Change pass message-->
                                            <label class="change-pass-mess-err" id="change-pass-mess">
                                                <%= __("All field is required") %></label>
                                            <label class="change-pass-mess-err" id="change-pass-mess-all-field">
                                                <%= __("All field is required") %></label>
                                            <label class="change-pass-mess-err" id="change-pass-mess-old-new">
                                                <%= __("Current pass and the new one are the same") %></label>
                                            <label class="change-pass-mess-err" id="change-pass-mess-common">
                                                <%= __("Something is wrong, please try again later") %></label>
                                            <label class="change-pass-mess-err" id="change-pass-mess-does-not-match">
                                                <%= __("Password does not match the confirmation") %></label>
                                            <label class="change-pass-mess-err" id="change-pass-mess-server"></label>
                                            <button type="button" class="btn btn-sm btn-edit pull-right"
                                                    id="btnSaveChangePass">
                                                <%= __("Save") %> <span class="glyphicon glyphicon-saved"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="change-avatar" class="tab-pane fade">

                        <div class="row">
                            <div class="col-sm-2 avatar-user-image">
                                <% if(!user.avatar){ %>
                                <img src="/images/avatar/avatar.jpg" id="avatarPreview"/>
                                <% } else{ %>
                                <img src="/media/image/<%= user.avatar %>" id="avatarPreview"/>
                                <% } %>
                            </div>
                            <div class="col-sm-10">
                                <form class="form-inline" action="/japtool/user/editAvatar"
                                      enctype="multipart/form-data"
                                      method="POST">
                                    <input type="hidden" name="userCodeID" value="<%= user.id %>"/>
                                    <input type="hidden" name="userAvatar" value="<%= user.avatar %>"/>

                                    <div class="form-group">
                                        <input type="text" id="uploadAvatar" class="form-control"
                                               placeholder="<%= __('Choose File') %>" disabled="disabled"
                                               name="avatarUser">
                                    </div>

                                    <div class="fileUpload btn btn-primary">
                                        <span><%= __('Upload') %></span>
                                        <input id="uploadBtnAvatar" type="file" class="upload" name="uploadAvatar"
                                               accept="image/*"/>
                                    </div>
                                    <button type="submit" class="btn btn-success"
                                            id="submitAvatar"><%= __("Save") %></button>

                                </form>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


