Xin chào <%= user.username %>
<br/><br/>
Cảm ơn bạn đã đăng kí tài khoản tại Japanese learning online tool.<br/>
Để hoàn thành việc đăng kí, xin hãy click vào link bên dưới để kích hoạt tài khoản.
<br/><br/>
<a href="<%= mailContent.activateUrl %>"> <%= mailContent.activateUrl %> </a>
<br/><br/>
Hoặc bạn có thể copy và dán đường link này vào trình duyệt.<br/>
Bạn sẽ không thực hiện được đăng nhập cho đến khi tài khoản được kích hoạt.
<br/><br/>
Chân thành cảm ơn Bạn!<br/>
<a href="<%= mailContent.homeUrl %>"> Japanese learning online tool <%= mailContent.homeUrl %> </a>