Dear <%= user.username %>
<br/><br/>
Thank for Your registration on Japanese learning online tool.<br/>
To complete signup click this link to activate Your account.
<br/><br/>
<a href="<%= mailContent.activateUrl %>"> <%= mailContent.activateUrl %> </a>
<br/><br/>
Or, you can copy and paste the link into your browser.<br/>
You can not sign in until Your account is active.
<br/><br/>
Thank you,<br/>
<a href="<%= mailContent.homeUrl %>"> Japanese learning online tool <%= mailContent.homeUrl %> </a>