<div class="container">
    <div class="row">
        <div class="reports-page">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Overview learning</h2>
                            <div class="library-page-line"></div>
                            <table class="table table-bordered">

                                <thead>
                                <tr>
                                    <th><%=__("Total of lesson")%>:</th>
                                    <th><%=__("learned")%>:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>100</td>
                                    <td>50</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div id="piechart"></div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="row">


                        <div class="col-sm-12">
                            <h2><%=__("Overview of exercise")%></h2>
                            <div class="library-page-line"></div>
                            <table class="table table-bordered">

                                <thead>
                                <tr>
                                    <th><%=__("Total of question")%>:</th>
                                    <th><%=__("answered")%>:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>100</td>
                                    <td>50</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div id="piechart1"></div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h2><%=__("Result Lesson")%></h2>
                    <div class="library-page-line"></div>
                    <div id="chart_div"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <a class="btn sd-learn-more"><%=__("Back")%></a>
                </div>
            </div>
        </div>
    </div>
</div>