<div class="container">
    <div class="details-question">
        <div class="row">
            <div class="col-sm-12">
                <label class="lb-details-ar lead">Details Article</label>
                <hr class="hr-details">
            </div>
            <div class="col-sm-6">
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>Article Subject:</label> <%=ArticleSubject%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>question:</label> <%=Question.question%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>Sort:</label> <%=Question.sort%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>option 1:</label> <%=Question.option1%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>result Option 1:</label> <%=Question.resultOption1%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>option 2:</label> <%=Question.option2%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>result Option 2:</label> <%=Question.resultOption2%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>option 3:</label> <%=Question.option3%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>result Option 3:</label> <%=Question.resultOption3%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>option 4:</label> <%=Question.option4%>
                    </div>
                </div>
                <div class="row row-details">
                    <div class="col-sm-12">
                        <label>result Option 4:</label> <%=Question.resultOption4%>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <!--display media-->
                <div class="col-sm-12">
                    <div class="row row-pill">
                        <label>Image</label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <img src="/showImageQue/<%=Question.image%>" class="img-thumbnail">
                    </div>
                </div>
                <!--finish display media-->
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <hr class="hr-details">
                    <div class="col-sm-12">
                        <a href="/showAllQuestion" class="btn btn-success btn-show-all-ar">Show All Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>