<ul class="rslides" id="slider1">
    <li><img src="/images/slider/slider3.jpg" alt=""></li>
    <li><img src="/images/slider/anime-computer.jpg" alt=""></li>
    <li><img src="/images/slider/slider.jpg" alt=""></li>
    <li><img src="/images/slider/slider2.jpg" alt=""></li>
</ul>
<!--<div class="home-slideshow">-->
    <!--<div></div>-->
    <!--<img src="/images/slider.jpg"/>-->
<!--</div>-->
<div class="who-are-we text-center">
    <div class="container">
        <div class="col-sm-12">
            <h1><%= __('WHO ARE WE') %></h1>
            <div class="line-home"></div>
            <p><%= __('Kantan bring an one and only mission is to teach Japanese language for people around the world. To achieve this mission, we have provided a lesson system according to Japanese standards with a rich vocabulary and a great curriculum.') %></p>

            <% if (!req.session.authenticated) { %>
                <a class="btn btn-social-icon btn-sm btn-facebook"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-sm btn-flickr"><i class="fa fa-flickr"></i></a>
                <a class="btn btn-social-icon btn-sm btn-github"><i class="fa fa-github"></i></a>
                <a class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-sm btn-twitter"><i class="fa fa-twitter"></i></a>

                <div class="no-user">
                    <p>
                        <a class="label label-danger lb-home" href="/japtool/viewtour"><%= __('Click Here To Take Your View Tour') %></a>
                    </p>
                </div>
            <% } %>
        </div>
    </div>
</div>
<div class="intro-doc content">
    <div class="container">
        <h1 class="text-center">Hệ thống thông minh</h1>
        <div class="line-home"></div>
        <div class="col-sm-4">
            <div class="ts-service-style-1">
                <div class="service-title">
                    <div class="row">
                        <div class="col-xs-2"> <span class="service-icon"><i class="fa fa-magic"></i></span></div>
                        <div class="col-xs-10"> <h3>Thư viện tài liệu đa dạng</h3></div>
                    </div>
                </div>
                <div class="service-content">
                    <p>Với nguồn tài liệu chính thống được cung cấp từ đất nước mặt trời mọc, chúng tôi hi vọng sẽ mang đến những kiến thức chuẩn cho mọi người.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ts-service-style-1">
                <div class="service-title">
                    <div class="row">
                        <div class="col-xs-2"> <span class="service-icon"><i class="fa fa-magic"></i></span></div>
                        <div class="col-xs-10"> <h3>Học cùng những người bạn</h3></div>
                    </div>
                </div>
                <div class="service-content">
                    <p>Hệ thống kantan.vn cho phép bạn tạo ra các group và mời những người bạn của mình tham gia cùng học, cùng tiến bộ.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ts-service-style-1">
                <div class="service-title">
                    <div class="row">
                        <div class="col-xs-2"> <span class="service-icon"><i class="fa fa-magic"></i></span></div>
                        <div class="col-xs-10"> <h3>Từ điển phong phú</h3></div>
                    </div>
                </div>
                <div class="service-content">
                    <p>Hệ thống từ điển đa dạng, phong phú sẽ giúp bạn có một lượng từ vựng để có thể làm chủ được ngôn ngữ này.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="document-new">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Tài liệu mới cập nhật</h1>
                <div class="line-home"></div>
            </div>

            <div class="content-tab clearfix">

                <ul class="tabs">
                    <li class="tab-link current" data-tab="vocabulary">Vocabulary</li>
                    <li class="tab-link" data-tab="kanji">Kanji</li>
                    <li class="tab-link" data-tab="grammar">Grammar</li>
                    <li class="tab-link" data-tab="speech">Speech</li>
                </ul>

                <div id="vocabulary" class="tab-content current">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">vocabulary</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">vocabulary</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">vocabulary</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">vocabulary</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">vocabulary</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">vocabulary</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">vocabulary</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">vocabulary</a></h4>
                            </div>

                        </div>
                    </div>


                </div>
                <div id="kanji" class="tab-content">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">kanji</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">kanji</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">kanji</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">kanji</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">kanji</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">kanji</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">kanji</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">kanji</a></h4>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="grammar" class="tab-content">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">grammar</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">grammar</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">grammar</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">grammar</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">grammar</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">grammar</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">grammar</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">grammar</a></h4>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="speech" class="tab-content">
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">speech</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">speech</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">speech</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">speech</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">speech</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">speech</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">speech</a></h4>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6">
                        <div class="document-thumb transition">
                            <div class="image"><a href=""><img src="/images/books.jpg" alt="Book" title="MacBook" class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="">speech</a></h4>
                            </div>

                        </div>
                    </div>
                </div>

            </div><!-- container -->

        </div>
    </div>
</div>
<div class="statistics">
    <div class="ts-overlay"></div>
        <div class="row">
            <div class="col-sm-3">
                <div class="home-static user-home">
                    <i class="fa fa-user fa-5x"></i>

                    <p><span class="counter"><%=userCount%></span></p>

                    <p><%= __('User') %></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="home-static library">
                    <i class="fa fa-book fa-5x"></i>

                    <p><span class="counter"><%=bookCount%></span></p>

                    <p><%= __('Library') %></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="home-static group-member">
                    <i class="fa fa-paw fa-5x"></i>

                    <p><span class="counter"><%=kanjiCount%></span></p>

                    <p><%= __('Kanji') %></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="home-static vocabulary">
                    <i class="fa fa-file-word-o fa-5x"></i>

                    <p><span class="counter"><%=vocabCount%></span></p>

                    <p><%= __('Vocabulary') %></p>
                </div>
            </div>
        </div>
</div>
<script>
    window.onload = function () {
        $("#slider1").responsiveSlides({
            maxwidth: 1920,
            speed: 800,
            nav: false,             // Boolean: Show navigation, true or false
            random: true,          // Boolean: Randomize the order of the slides, true or false
            pager: true
        });
        $(document).ready(function(){

            $('ul.tabs li').click(function(){
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#"+tab_id).addClass('current');
            })

        })
        $(function() {
            $(".counter").countimator();
        });

    }

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68037164-1', 'auto');
  ga('send', 'pageview');

</script>