<ul class="rslides" id="slider1">
    <li><img src="/images/slider/slider3.jpg" alt=""></li>
    <li><img src="/images/slider/anime-computer.jpg" alt=""></li>
    <li><img src="/images/slider/slider.jpg" alt=""></li>
    <li><img src="/images/slider/slider2.jpg" alt=""></li>
</ul>
<!--<div class="home-slideshow">-->
    <!--<div></div>-->
    <!--<img src="/images/slider.jpg"/>-->
<!--</div>-->
<div class="who-are-we text-center">
    <div class="container">
        <div class="col-sm-12">
            <h1><%= __('WHO ARE WE') %></h1>
            <p><%= __('Kantan bring an one and only mission is to teach Japanese language for people around the world. To achieve this mission, we have provided a lesson system according to Japanese standards with a rich vocabulary and a great curriculum.') %></p>

            <% if (!req.session.authenticated) { %>
                <p class=""><%= __("If you haven't account, you can click") %> <a href="japtool/user/new"><%= __('register') %></a> <%= __("or you can login with other accounts follow") %></p>
                <a class="btn btn-social-icon btn-sm btn-facebook"><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-sm btn-flickr"><i class="fa fa-flickr"></i></a>
                <a class="btn btn-social-icon btn-sm btn-github"><i class="fa fa-github"></i></a>
                <a class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-sm btn-linkedin"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-sm btn-twitter"><i class="fa fa-twitter"></i></a>
                

                <div>
                    <p>
                        </br>
                        <%= __('If you forget your login password, click here') %>
                        <a href="/japtool/user/passforget"><%=__("Forgotten Password")%></a>
                    </p>                    
                </div>

                <div class="no-user">
                    <p><%= __('If you want not to register') %></p>
                    <p>
                        <a class="label label-success lb-home" href="/japtool/viewtour"><%= __('Click Here To Take Your View Tour') %></a>
                    </p>
                </div>
            <% } %>
        </div>
    </div>
</div>
<div class="member content">
    <div class="container">
        <div class="col-sm-4">
            <div class="ts-service-style-1">
                <div class="service-title">
                    <div class="row">
                        <div class="col-xs-2"> <span class="service-icon"><i class="fa fa-magic"></i></span></div>
                        <div class="col-xs-10"> <h3>Thư viện tài liệu đa dạng</h3></div>
                    </div>
                </div>
                <div class="service-content">
                    <p>Với nguồn tài liệu chính thống được cung cấp từ đất nước mặt trời mọc, chúng tôi hi vọng sẽ mang đến những kiến thức chuẩn cho mọi người.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ts-service-style-1">
                <div class="service-title">
                    <div class="row">
                        <div class="col-xs-2"> <span class="service-icon"><i class="fa fa-magic"></i></span></div>
                        <div class="col-xs-10"> <h3>Học cùng những người bạn</h3></div>
                    </div>
                </div>
                <div class="service-content">
                    <p>Hệ thống kantan.vn cho phép bạn tạo ra các group và mời những người bạn của mình tham gia cùng học, cùng tiến bộ.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ts-service-style-1">
                <div class="service-title">
                    <div class="row">
                        <div class="col-xs-2"> <span class="service-icon"><i class="fa fa-magic"></i></span></div>
                        <div class="col-xs-10"> <h3>Từ điển phong phú</h3></div>
                    </div>
                </div>
                <div class="service-content">
                    <p>Hệ thống từ điển đa dạng, phong phú sẽ giúp bạn có một lượng từ vựng để có thể làm chủ được ngôn ngữ này.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="statistics">
    <div class="ts-overlay"></div>
        <div class="row">
            <div class="col-sm-3">
                <div class="home-static user-home">
                    <i class="fa fa-user fa-5x"></i>

                    <p><span class="counter"><%=userCount%></span></p>

                    <p><%= __('User') %></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="home-static library">
                    <i class="fa fa-book fa-5x"></i>

                    <p><span class="counter"><%=bookCount%></span></p>

                    <p><%= __('Library') %></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="home-static group-member">
                    <i class="fa fa-paw fa-5x"></i>

                    <p><span class="counter"><%=kanjiCount%></span></p>

                    <p><%= __('Kanji') %></p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="home-static vocabulary">
                    <i class="fa fa-file-word-o fa-5x"></i>

                    <p><span class="counter"><%=vocabCount%></span></p>

                    <p><%= __('Vocabulary') %></p>
                </div>
            </div>
        </div>
</div>
<script>
    window.onload = function () {
        $("#slider1").responsiveSlides({
            maxwidth: 1920,
            speed: 800,
            nav: false,             // Boolean: Show navigation, true or false
            random: true          // Boolean: Randomize the order of the slides, true or false
        });
    }
</script>