<div class="container library-page example">
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-offset-1 col-sm-3 col-xs-12">
            <div class="form-group form-horizontal">
                <!--<label for="typeSearch"><%= __("Library Category") %>:</label>-->
                <select class="form-control" id="typeSearch">
                    <option value="0"><%= __("Choose category") %></option>
                    <option value="vocabulary"><%= __("vocabulary") %></option>
                    <option value="kanji"><%= __("kanji") %></option>
                    <option value="test"><%= __("test") %></option>
                    <option value="grammar"><%= __("grammar") %></option>
                </select>

            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="form-group form-horizontal">
                <!--<label for="levelSearch"><%= __("Library Level") %>:</label>-->
                <select class="form-control" id="levelSearch">
                    <option value="0"><%= __("Choose level") %></option>
                    <option value="N1">N1</option>
                    <option value="N2">N2</option>
                    <option value="N3">N3</option>
                    <option value="N4">N4</option>
                    <option value="N5">N5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="form-group form-horizontal">
                <!--<label for="textSearch"><%= __("Select key Search") %>:</label>-->
                <input type="text" class="form-control" id="textSearch">
            </div>
        </div>
        <div class="col-sm-1 col-xs-12">
            <div class="form-group form-horizontal">
                <!--<label for="executeSearch"></label>-->
                <button onclick="fillLibrary();" class="btn btn-danger"
                        id="executeSearch"><%= __("Search") %></button>
            </div>
        </div>
    </div>
    <div id="libraryContent"></div>
    <div id="error" style="display: none"></div>
</div>
<script>
    window.onload = function () {
        $("#typeSearch").val("<%= req.session.searchType %>");
        $("#levelSearch").val("<%= req.session.searchLevel %>");
        $("#textSearch").val("<%= req.session.searchBookName %>");
        
        fillLibrary();
    }
    function fillLibrary() {
        var typeSearch = $("#typeSearch").val();
        var levelSearch = $("#levelSearch").val();
        var textSearch = $("#textSearch").val();        
        var data = {
            typeSearch: typeSearch,
            levelSearch: levelSearch,
            textSearch: textSearch
        };
        /*$.ajax({
         method: "GET",
         url: "/japtool/Library/fillLibrary",
         data: data
         }).done(function (data) {
         $("#libraryContent").html("");
         $("#libraryContent").html(data);
         })*/
        $("#libraryContent").load("/japtool/Library/fillLibrary/", data, function (response, status, xhr) {
            if (status == "error") {
                var msg = "Sorry but there was an error: ";
                $("#error").prop('disabled',true);
                $("#error").html(msg + xhr.status + " " + xhr.statusText);
            }
            else {
                $("#error").prop('disabled',false);
                console.log(response);
                pagingInit();
            }
        });
    }
    
</script>