<div class="clearfix" id="books">
    <% uniqueType.forEach(function(item, indexLibrary){ %>
    <div class="row content library-<%= indexLibrary %>" id="">
        <div class="media">
            <div class="media-body">
                <div class="col-sm-12 library-page-title">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3><span><%= __(item) %></span>
                            </h3>
                        </div>
                        <% var num = 0; %>
                        <% for(var i = 0;i < data.length;i++){ %>
                        <% if(data[i].type == item){ %>
                        <% num = num + 1 %>
                        <% } %>
                        <% } %>
                        <% if(num > Constants.maxLibOnPage){ %>
                        <div class="col-sm-2">
                            <div class="join-learn btn label-primary">
                                <a href="/japtool/Library/getAllLibrary/?type=<%= item %>"><%= __("View more Library") %></a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="library-page-line"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="lib-1">
            <% var index = 0;
                    data.forEach(function(book){ %>
            <% if(book.type == item) { %>
            <% if(index < Constants.maxLibOnPage) {
                index++;
            %>
            <div class="col-sm-4 lib-cell">
                <div class="">
                    <div class="media libMaster">
                        <div class="hidden-xs">
                            <a href="#" data-toggle="modal" data-target="#lib-details-<%= book.id %>">
                                <img class="media-object col-xs-3 libImg"

                                        <% if (book.image) { %>
                                     src="/media/image/<%= book.image %>"
                                        <% } else { %>
                                     src="/images/bookicon.jpg"
                                        <% } %>

                                     title="<%= __('Click to view this library details') %>">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="#" class="text-primary"
                                   title="<%= __('Click to view this library details') %>"
                                   data-toggle="modal" data-target="#lib-details-<%= book.id %>">
                                    <%= book.name %>
                                </a>
                            </h4>
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                    <%= __("Level") %>: <%= book.level %> -
                                    <%= __("Used") %>: 1
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    <%= __("Number Lesson") %>: <%= book.bookDetails.length %>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    <a href="/japtool/Learning/practice/?id=<%= book.id %>&preview=yes" title="<%= __('Click to view this library lesson.') %>"
                                       class="text-danger"><%= __("Preview") %></a> -
                                    <span></span>
                                    <a onclick="loadformLib('<%= book.id %>')"
                                       title="<%= __('Click to learn this library.') %>"
                                       class="text-info"><%= __("Learning Library") %></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--lib details-->
            <div class="modal fade" id="lib-details-<%= book.id %>" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <h4 class="modal-title"><%= __("Library") %> - <%= book.name %></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a>
                                        <img class="library-detail-img"

                                                <% if (book.image) { %>
                                             src="/media/image/<%= book.image %>"
                                                <% } else { %>
                                             src="/images/book_default_cover.png"
                                                <% } %>
                                                />
                                    </a>
                                </div>
                                <div class="col-sm-9">
                                    <ul>
                                        <h4><%= __("Details") %>:</h4>
                                        <li>
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            <%= __("Level") %>: <%= book.level %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <%= __("Type") %>: <%= book.type %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            <%= __("Number Lesson") %>: <%= book.bookDetails.length %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            <%= __("Estimate Hour") %>:
                                            <% if(book.hourForLearn == 'undefined'){ %>
                                            <%= 0 %>
                                            <% }else{ %>
                                            <%= book.hourForLearn %>
                                            <% } %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <%= __("Number Of Recommend") %>:
                                            <% if(book.recommendNum == undefined){ %>
                                            <%= 0 %>
                                            <% }else{ %>
                                            <%= book.recommendNum %>
                                            <% } %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            <%= __("Used") %>: 1
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-sm-12">

                                    <h4><%= __("Description") %>:</h4>

                                    <div class="pre-scrollable mCustomScrollbar" data-mcs-theme="dark">
                                        <%= book.description %>

                                    </div>
                                </div>
                            </div>
                            <h4><%= __('Your friends are learning this library:') %> </h4>

                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <a href="#" title="<%= __('Click to view profile.') %>">
                                            <img src="../images/avatar/a01.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="loadformLib('<%= book.id %>')"
                               class="btn btn-success" role="button">
                                <%= __("Learning This Library") %></a>
                            <a href="#" class="btn btn-danger" role="button"
                               data-dismiss="modal"><%= __("Close") %></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--lib review-->
            <div class="modal fade" id="lib-review-<%= book.id %>" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <h4 class="modal-title"><%= __("Library") %> - <%= book.name %></h4>
                        </div>

                        <div class="modal-body">
                            <div class="row libImg-modal">
                                <div class="col-xs-3">
                                    <div>
                                        <h1><%= __("Lesson") %></h1>
                                    </div>
                                    <aside class="">
                                        <!-- sidebar: style can be found in sidebar.less -->
                                        <div class="pre-scrollable per-scroll-lib-review">
                                            <section class="sidebar">

                                                <!-- Sidebar user panel -->
                                                <ul class="sidebar-menu">
                                                    <% arrAllLesson.forEach(function(item){ %>
                                                    <% if(item.idLesson == book.id){ %>
                                                    <% item.arrLesson.forEach(function(uniqueLesson){ %>
                                                    <li class="treeview">
                                                        <a href="javascript: void(0)">
                                                            <i class="fa fa-edit"></i>
                                                            <span><%= uniqueLesson %></span>
                                                            <i class="fa fa-angle-left pull-right"></i>
                                                        </a>

                                                        <ul class="treeview-menu">
                                                            <% book.bookDetails.forEach(function(bookDetail){ %>
                                                            <% if(uniqueLesson == bookDetail.lesson) { %>
                                                            <li><a href='javascript: void(0)'
                                                                   onclick="learn('<%= bookDetail.useModule %>', '<%= bookDetail.dataExtractCondition %>', '<%= book.id %>')">- <%= bookDetail.subLesson %></a>
                                                            </li>
                                                            <% } %>
                                                            <% }) %>
                                                        </ul>


                                                    </li>
                                                    <% }) %>
                                                    <% } %>
                                                    <% }) %>
                                                </ul>

                                            </section>
                                        </div>
                                        <!-- /.sidebar -->
                                    </aside>

                                </div>
                                <div class="col-xs-9 ">
                                    <h3 class="text-center"><%= book.name %></h3>

                                    <div class=" container-learn" id="<%= book.id %>"
                                         style="min-height: 600px"></div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a onclick="loadformLib('<%= book.id %>')" class="btn btn-success" role="button">
                                <%= __("Learning This Library") %></a>
                            <a href="#" class="btn btn-danger" role="button"
                               data-dismiss="modal"><%= __("Close") %></a>
                        </div>
                    </div>
                </div>

            </div>
            <% } %>
            <% } %>
            <% }) %>
        </div>
    </div>
    <% }) %>
</div>

<form action="/japtool/learning/add" method="post" onsubmit="return validateCreatLearning()"
      id="create-learning-japtool">

    <div class="modal fade" id="formedit" data-keyboard="false">
        <div class="modal-dialog modal-lg" id="editform"></div>
    </div>
</form>
<div class="modal fade" id="show-books" data-backdrop="static" data-keyboard="false"></div>
<ul id="pagination-demo" class="pagination-sm row text-center pull-right"></ul>

<script type="text/javascript">
    function pagingInit() {
        $('.content').hide();
        var itemOnPage = 2;
        for (var i = 0; i < itemOnPage; i++) {
            $('.library-' + i).show();
        }
        var totalPages =
        <%= uniqueType.length %>/
        itemOnPage;
        $('#pagination-demo').twbsPagination({
            totalPages: Math.ceil(totalPages),
            visiblePages: 4,
            onPageClick: function (event, page) {
                var itemShow = itemOnPage * page;
                $('.content').hide();
                for (var i = itemShow - itemOnPage; i < itemShow; i++) {
                    $('.library-' + i).show();
                }
            }
        });
    }
    function learn(module, condition, id) {
        var strCondition = JSON.stringify(condition);
        if (module == 'test') {
            $('#' + id).load('/japtool/' + module + '/previewTest/?condition=' + strCondition);
        } else {
            $('#' + id).load('/japtool/' + module + '/?condition=' + strCondition);
        }
    };


</script>