<div class="container library-page">
    <div class="row">
        <div class="media">
            <div class="media-body">
                <div class="col-sm-12 library-page-title">
                    <div class="row">
                        <div class="col-sm-10">
                            <h3><span><%= __(data[0].type) %></span>
                            </h3>
                        </div>
                        <div class="col-sm-1">
                            <div class="join-learn btn label-success">
                                <a href="/japtool/Library/index"><%__("Back")%></a>
                            </div>
                        </div>
                    </div>
                    <div class="library-page-line"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="lib-1">
            <% data.forEach(function(book, index){ %>
            <div class="col-sm-4 lib-cell lib-cell-<%= index %>">
                <div class="row">
                    <div class="media libMaster">
                        <a href="#" data-toggle="modal" data-target="#lib-details-<%= book.id %>">
                            <img class="media-object col-xs-3 libImg"
                                    <% if (book.image) { %>
                                 src="/media/image/<%= book.image %>"
                                    <% } else { %>
                                 src="/images/bookicon.jpg"
                                    <% } %>
                                 title="<%=__('Click to view this library details')%>">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">
                                <a href="#" class="text-primary" title="<%=__("Click to view this library details")%>"
                                   data-toggle="modal" data-target="#lib-details-<%= book.id %>">
                                    <%= book.name %>
                                </a>
                            </h4>
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                    <%=__("Level")%>: <%= book.level %> -
                                    <%=__("Used")%>: 1
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    <%=__("Number Lesson")%>: <%= book.bookDetails.length %>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    <a href="#" title="<%=__("Click to view this library lesson")%>" data-toggle="modal"
                                       data-target="#lib-review-<%= book.id %>" class="text-danger"><%=__("Preview")%></a> -
                                    <span></span>
                                    <a onclick="loadformLib('<%= book.id %>')"
                                       title="<%=__("Click to learn this library")%>" class="text-info"><%=__("Learning Library")%>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--lib details-->
            <div class="modal fade" id="lib-details-<%= book.id %>" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <h4 class="modal-title"><%=__("Library")%> - <%= book.name %></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="#">
                                        <img class="library-detail-img"
                                                <% if (book.image) { %>
                                             src="/media/image/<%= book.image %>"
                                                <% } else { %>
                                             src="/images/book_default_cover.png"
                                                <% } %>
                                                >
                                    </a>
                                </div>
                                <div class="col-sm-9">
                                    <ul>
                                        <h4><%=__("Details")%>:</h4>
                                        <li>
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            <%=__("Level")%>: <%= book.level %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <%=__("Type")%>: <%= book.type %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            <%=__("Number Lesson")%>: <%= book.bookDetails.length %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                                            <%=__("Estimate Hour")%>:
                                            <% if(book.hourForLearn == 'undefined'){ %>
                                            <%= 0 %>
                                            <% }else{ %>
                                            <%= book.hourForLearn %>
                                            <% } %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <%=__("Number Of Recommend")%>:
                                            <% if(book.recommendNum == undefined){ %>
                                            <%= 0 %>
                                            <% }else{ %>
                                            <%= book.recommendNum %>
                                            <% } %>
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                            <%=__("Used")%>: 1
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-sm-12">

                                    <h4>Description:</h4>

                                    <div class="pre-scrollable mCustomScrollbar" data-mcs-theme="dark">
                                        <%= book.description %>

                                    </div>
                                </div>
                            </div>
                            <h4><%=__("Your friends are learning this library")%>: </h4>

                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <a href="#" title="<%=__('Click to view profile')%>">
                                            <img src="../images/avatar/a01.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="loadformLib('<%= book.id %>')" class="btn btn-success" role="button">
                                <%=__("Learning This Library")%></a>
                            <a href="#" class="btn btn-danger" role="button" data-dismiss="modal"><%=__("Close")%></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--lib review-->
            <div class="modal fade" id="lib-review-<%= book.id %>" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <h4 class="modal-title"><%=__("Library")%> - <%= book.name %></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row libImg-modal">
                                <div class="col-sm-3 invite">
                                    <div class="row">
                                        <h3><%=__("Lesson learning")%></h3>
                                    </div>
                                    <div class="row">
                                        <div id="cssmenu-learngroup">
                                            <ul>
                                                <% arrAllLesson.forEach(function(item){ %>
                                                <% if(item.idLesson == book.id){ %>
                                                <% item.arrLesson.forEach(function(uniqueLesson){ %>
                                                <li class='has-sub'><a href='#'><%= uniqueLesson %></a>
                                                    <% if(book.bookDetails.length != 0){ %>
                                                    <% book.bookDetails.forEach(function(bookDetail){ %>
                                                    <% if(uniqueLesson == bookDetail.lesson) { %>
                                                    <ul>
                                                        <li><a href='#'
                                                               onclick="learn('<%= bookDetail.useModule %>', <%= bookDetail.dataExtractCondition %>, '<%= book.id %>')"><%= bookDetail.subLesson %></a>
                                                        </li>
                                                    </ul>
                                                    <% } %>
                                                    <% }) %>
                                                    <% } %>
                                                    <% }) %>
                                                    <% } %>
                                                    <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9 invite">
                                    <h3 class="text-center"><%= book.name %></h3>

                                    <div class="abc container-learn" id="<%= book.id %>"
                                         style="background-color: rgba(61, 140, 204, 0.39); min-height: 600px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="loadformLib('<%= book.id %>')" class="btn btn-success" role="button">
                                <%=__("Learning This Library")%></a>
                            <a href="#" class="btn btn-danger" role="button" data-dismiss="modal"><%=__("Close")%></a>
                        </div>
                    </div>
                </div>
                <script>
                    function learn(module, condition, id) {
                        var strCondition = JSON.stringify(condition);
                        $('#' + id).load('/japtool/' + module + '/list/?condition=' + strCondition);
                    }
                </script>
            </div>
            <% }) %>
        </div>
    </div>
    <form action="/japtool/learning/add" method="post" onsubmit="return validateCreatLearning()"
          id="create-learning-japtool">

        <div class="modal fade" id="formedit" data-keyboard="false">
            <div class="modal-dialog modal-lg" id="editform"></div>
        </div>
    </form>
    <ul id="pagination-demo" class="pagination-sm row text-center pull-right"></ul>
    <script type="text/javascript">
        window.onload = function () {
            $('.lib-cell').hide();
            var itemOnPage = 6;
            for (var i = 0; i < itemOnPage; i++) {
                $('.lib-cell-' + i).show();
            }
            var totalPages =
            <%= data.length %>/
            itemOnPage;
            $('#pagination-demo').twbsPagination({
                totalPages: Math.ceil(totalPages),
                visiblePages: 4,
                onPageClick: function (event, page) {

                    var itemShow = itemOnPage * page;
                    $('.lib-cell').hide();
                    for (var i = itemShow - itemOnPage; i < itemShow; i++) {
                        $('.lib-cell-' + i).show();
                    }
                }
            });
        };
    </script>
</div>