<div class="container">
 <div class="jumbotron">
    <h1>Bài học từ vựng</h1> 
 </div>


 <!--<div class="page-header bg-info">
  <h1>Bài học từ vựng</h1>
</div> -->

<a class="btn btn-success btn-xs" href="/admin/vocabulary/create">Add</a>
<table class='table table-bordered table-hover'>
  <tr>
  <th>No</th>
  <th>Từ vựng</th>
  <th></th>
  <th>Ý nghĩa</th>
  <th>Level</th>
  <th></th>
  <th></th></tr>

<% vocabularies.forEach( function( vocabulary, index){ %>
  <tr>
  <td><%= index + 1 %></td>
  <td><%= vocabulary.item %></td>
  <td><img src="/images/<%=vocabulary.image%>" height="70" width="70"></td>
  <td><%= vocabulary.description %></td>
  <td><%= vocabulary.level %></td>
  <td><%= vocabulary.tag %></td>
  <td>
  <a class="btn btn-info btn-xs" href="/admin/vocabulary/view/<%=vocabulary.id %>">Detail</a>
  <a class="btn btn-warning btn-xs" href="/admin/vocabulary/update/<%=vocabulary.id %>">Update</a>  
  <a class="btn btn-danger btn-xs" href="/admin/vocabulary/delete/<%=vocabulary.id %>">delete</a>
  </td></tr>
<% }); %>
</table>

 </div>
