<div class="container">

<div class="jumbotron">
    <h1>Sửa thông tin</h1> 
</div>

<a class="btn btn-info btn-xs" href="/admin/vocabulary/index">Trở lại danh sách từ vựng</a>

<!-- 
<h2>vocabulary admin Update form</h2>
<form action="/admin/vocabulary/update/<%=vocabulary.id%>" method="POST">
 <table class='table'>
	<tr><td>word   <td><input type="text" name="vocabulary[word]" value="<%=vocabulary.word %>">
	<tr><td>Meaning<td><input type="text" name="vocabulary[meaning]" value="<%=vocabulary.meaning %>">
	<tr><td>Example<td><input type="text" name="vocabulary[example]" value="<%=vocabulary.example %>">
	<tr><td>Other  <td><input type="text" name="vocabulary[other]" value="<%=vocabulary.other %>" >
	<tr ><td><td><input type="submit" value="UPDATE">
</form>
-->

<form action="/admin/vocabulary/update/<%=vocabulary.id%>" 
   enctype="multipart/form-data"
   method="POST">
 
 <table class='table'>
	<tr><td>word           <td><input type="text" name="item"  value="<%=vocabulary.item %>">
	<tr><td>reading           <td><input type="text" name="reading"  value="<%=vocabulary.reading %>">
	<tr><td>Meaning        <td><input type="text" name="description"  value="<%=vocabulary.description %>">
	<tr><td>Example        <td><input type="text" name="examples"  value="<%=vocabulary.examples %>"> 
	<tr><td>Level          <td><input type="text" name="level"  value="<%=vocabulary.level %>">
	<tr><td>Tag          <td><input type="text" name="tag"  value="<%=vocabulary.tag %>">
		
	<tr><td>Image for word <td><input type="file" name="avatar">
	<tr><td>               <td><img class="img-rounded" src="/images/<%=vocabulary.image%>" height="400" width="400">
	<tr ><td>              <td><input class="btn btn-warning btn-xs" type="submit" value="Cập nhật">
</form>


 </div>