<div class="container">

<div class="jumbotron">
    <h1><%=vocabulary.item%></h1> 
</div>

<a class="btn btn-success btn-xs" href="/admin/vocabulary/create">Thêm từ mới</a>
<a class="btn btn-info btn-xs" href="/admin/vocabulary/index">Danh sách từ</a>
<a class="btn btn-warning btn-xs" href="/admin/vocabulary/update/<%= vocabulary.id %>">Sửa thông tin</a>

<ul class="list-group">
  <li class="list-group-item">Cach doc:<%=vocabulary.reading %></li>
  <li class="list-group-item">Ý nghĩa:<%=vocabulary.description %></li>
  <li class="list-group-item">Ví dụ:<%=vocabulary.examples %></li>
  
  <li class="list-group-item">
  	<img class="img-rounded" src="/images/<%=vocabulary.image%>" height="400" width="400"> </li>
</ul>

</div>