<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-primary"><%=__("Speech")%></h2>

            <div class="library-page-line"></div>
            <label id="checkBrowser"></label>

            <div class="slider slider-for">
                <div>
                    <section>
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="text-danger text-center"><i class="fa fa-question-circle"></i><span
                                            class="question">こんにちは</span></h2>
                            </div>

                            <div class="col-sm-6">
                                <h3 class="text-right"><%=__("Receiving")%>: </h3>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="status"><%=__("Not Started")%></h3>
                            </div>

                            <div class="col-sm-6">
                                <h3 class="text-right"><%=__("Received")%>: </h3>
                            </div>
                            <div class="col-sm-6 clearfix">
                                <h3 class="result"><%=__("Watting")%></h3>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="text-right"><%=__("Result")%>: </h3>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="check"><%=__("Watting")%></h3>
                            </div>
                        </div>

                        <div class="text-center">

                            <a class="text-center btn-start" onclick="startVoice();">
                                <div class="check-voice">
                                    <i class="fa fa-microphone fa-5x"></i>
                                </div>
                            </a>
                        </div>
                    </section>
                </div>

                <div><h3>2</h3></div>
                <div><h3>3</h3></div>
                <div><h3>4</h3></div>
                <div><h3>5</h3></div>
            </div>
            <div class="slider slider-nav">
                <div><h3>1</h3></div>
                <div><h3>2</h3></div>
                <div><h3>3</h3></div>
                <div><h3>4</h3></div>
                <div><h3>5</h3></div>
            </div>


            <!--<div id="one-time">-->
                <!--<h1 class="text-center">Question</h1>-->
                <!--<section>-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-12">-->
                            <!--<h2 class="text-danger text-center"><i class="fa fa-question-circle"></i><span-->
                                        <!--class="question">こんにちは</span></h2>-->
                        <!--</div>-->

                        <!--<div class="col-sm-6">-->
                            <!--<h3 class="text-right">Receiving: </h3>-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">-->
                            <!--<h3 class="status">Not Started</h3>-->
                        <!--</div>-->

                        <!--<div class="col-sm-6">-->
                            <!--<h3 class="text-right">Received: </h3>-->
                        <!--</div>-->
                        <!--<div class="col-sm-6 clearfix">-->
                            <!--<h3 class="result">Watting</h3>-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">-->
                            <!--<h3 class="text-right">Result: </h3>-->
                        <!--</div>-->
                        <!--<div class="col-sm-6">-->
                            <!--<h3 class="check">Watting</h3>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="text-center">-->

                        <!--<a class="text-center btn-start" onclick="startVoice();">-->
                            <!--<div class="check-voice">-->
                                <!--<i class="fa fa-microphone fa-5x"></i>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</section>-->
            <!--</div>-->
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<script src="/js/dependencies/bowser.min.js"></script>
<script>
    function checkBrowser() {
        var chromeName = "chrome";
        var browserName = bowser.name.toLowerCase();
        if (chromeName != browserName) {
            var msg = "Browser is " + browserName + " not supported! Must using " + chromeName;
            document.getElementById("checkBrowser").innerHTML = msg;
            document.getElementById("checkBrowser").className = 'text-danger';
            return msg;
        } else {
            return "OK";
        }
    }

    var isChrome = checkBrowser();


    var recognition = new webkitSpeechRecognition();
    recognition.lang = "ja-JP";
    recognition.continuous = true;
    recognition.interimResults = true;

    function addMessage(msg) {
        var question = $(".question").text();
        if (msg == question) {
            $(".check").html("<span class='text-success'><i class='fa fa-check'></i> "+__('Correct')+"</span>");
            stop();
        } else {
            $(".check").html("<span class='text-danger'><i class='fa fa-times'></i> "+__('Incorrect')+"Incorrect</span>");
        }
        $(".result").html(msg);
    }

    function stop() {
        $('.btn-start').val('start');
        recognition.stop();
        $('.btn-start').removeClass('text-danger');

    }

    function start() {
        $('.btn-start').addClass('text-danger');
        recognition.start();
    }

    function startVoice() {
        if (isChrome == "OK") {
            if (!$('.btn-start').hasClass('text-danger')) {
                start();
            } else {
                stop();
            }
        } else {
            alert(isChrome);
        }
    }

    recognition.onsoundstart = function () {
        $('.status').html(__('Processing'));
    };

    recognition.onnomatch = function () {
        alert("nomath");
        $('.status').html(__('again'));
    };

    recognition.onerror = function () {
        $('.status').html(__("error'));
        stop();
    };

    recognition.onsoundend = function () {
        $('.status').html(__('don't stop''));
        stop();
    };
    recognition.onend = function () {
        $('.status').html(__('restart'));
        stop();
    };

    recognition.onresult = function (event) {
        if (typeof(event.results) == 'undefined') {
            recognition.onend = null;
            stop();
            return;
        }
        var results = event.results;
        console.log(results);
        for (var i = event.resultIndex; i < results.length; i++) {
            var text = $.trim(results[i][0].transcript);
            if (results[i].isFinal) {
                addMessage(text);
                $('.status').html('processing');
            } else {
                $('.status').html(text);
            }
        }
    };
</script>