<!DOCTYPE html>
<html>
<head>
    <title>Kantan.vn - Học tiếng nhật mọi lúc mọi nơi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" content="Học tiếng Nhật Online với Kantan.vn, Kantan mang một sứ mệnh duy nhất đó là đào tạo tiếng Nhật Bản cho mọi người trên khắp thế giới. Để đạt được sứ mệnh này, chúng tôi đã cung cấp một hệ thống bài học theo tiêu chuẩn Nhật Bản"/>
    <meta property="og:title" content="Học tiếng Nhật Online với Kantan.vn" />
<meta property="og:description" content="Kantan mang một sứ mệnh duy nhất đó là đào tạo tiếng Nhật Bản cho mọi người trên khắp thế giới. Để đạt được sứ mệnh này, chúng tôi đã cung cấp một hệ thống bài học theo tiêu chuẩn Nhật Bản" />
<meta property="og:url" content="http://kantan.vn/" />
<meta property="og:site_name" content="Kantan.vn - Học tiếng nhật Online" />
<meta property="og:image" content="http://kantan.vn/images/image.jpg" />

	<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link type="text/css" rel="stylesheet" href="/styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/styles/bootstrap-social.css">
    <link type="text/css" rel="stylesheet" href="/styles/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/styles/font-roboto.css">
    <link type="text/css" rel="stylesheet" href="/plugins/slick/slick.css">
    <link type="text/css" rel="stylesheet" href="/plugins/slick/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="/plugins/responsiveslides/responsiveslides.css">
    <link type="text/css" rel="stylesheet" href="/plugins/datapicker/datepicker.css">
    <link type="text/css" rel="stylesheet" href="/styles/japtool/menu.css">
    <link type="text/css" rel="stylesheet" href="/styles/japtool/menu-learning.css">
    <link type="text/css" rel="stylesheet" href="/styles/japtool/styles.css">
</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68037164-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="account-right col-sm-7 col-sm-offset-5">

                    <% if(session.authenticated){ %>
                    <span><%= __('Welcome') %> <a id="userIdInSession" userId="<%= session.user.id %>"
                                                  href="/japtool/user/show/<%= session.user.id %>"><%= session.user.username %></a></span>
                    <a href="/japtool/buddy">Bạn bè</a>
                    <a
                            href="/japtool/auth/destroy"><%= __('Sign Out') %></a>
                    <% } else { %>
                    <a href="/japtool/auth"><%= __('Sign In') %></a>
                    <a href="/japtool/user/new"><%= __('register') %></a>
                    <% } %>

                        <!-- <a id="lang-en-option" data-toggle="tooltip" data-placement="left" class="language"
                           title="<%= __('Click to change language interface') %>"> <img src="/images/en.png"></a>

                        <a id="lang-vi-option" data-toggle="tooltip" data-placement="left" class="language"
                           title="<%= __('Click to change language interface') %>"> <img src="/images/vi.png"></a>

                        <a id="lang-ja-option" data-toggle="tooltip" data-placement="left" class="language"
                           title="<%= __('Click to change language interface') %>"> <img src="/images/ja.png"></a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="header-center clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <% if(session.authenticated){ %>
                        <a class="logo" href="/japtool/home"><img src="/images/logo.png"></a>
                        <% } else { %>
                        <a class="logo" href="/"><img src="/images/logo.png"></a>
                        <% } %>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id='cssmenu' class="pull-right">
                        <ul class="menu-page">
                            <li><a href='/'><%= __('Home') %></a></li>
                            <li><a href="/japtool/page/guide"><%= __('Use Guide') %></a></li>
                            <li><a href='/japtool/Library/index'><%= __('Library') %></a></li>
                            <li><a href="/japtool/myLearning"><%= __('Learning') %></a></li>
                            <li><a href='/japtool/page/about'><%= __('About') %></a></li>
                            <li><a href='/japtool/page/contact'><%= __('Contact') %></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="stripe_color"></div>
    </div>

</div>

<div class="body-content">
    <%- body %>
</div>

<div class="split-footer"></div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-inline">
                    <li> <a href="/japtool/page/about"> Kantan</a></li>
                    <li><a href="/japtool/user/new">Sign Up</a></li>
                    <li><a href="/japtool/page/guide">Guide</a></li>
                    <li><a href="/japtool/page/contact">Contact</a></li>
                </ul>
            </div>

            <div class="copyright col-xs-12 text-center">
                © 2018 All Rights Reserved. <a href="https://www.devsamurai.com/"><span class="text-primary"> DevSamurai </span></a> và nhóm cộng sự TUGI (tugigroup@gmail.com)
            </div>

        </div>
    </div>
</div>

<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/plugins/responsiveslides/responsiveslides.min.js"></script>
<script src="/plugins/steps/steps.js"></script>
<script src="/plugins/slick/slick.js"></script>
<script src="/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/countimator/countimator.js"></script>
<script src="/js/japtool/menu.js"></script>
<script src="/js/japtool/menu-learning.js"></script>
<script src="/js/japtool/jquery.validate.min.js"></script>
<script src="/js/japtool/customValidate.js"></script>
<script src="/js/japtool/custom.js"></script>
</body>
</html>
