<div id="kanji-List">
    <% if(kanjis == null || kanjis.length == 0){ %>
    <h5 class="text-center text-danger">Không tìm thấy dữ liệu</h5>
    <% }else{ %>
    <div class="slider slider-for slide-main">
        <%
            var sumPage = kanjis.length;
                kanjis.forEach( function(kanji, index){
        %>
        <div class="learn-kanji">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-default panel-paper-slide">
                    <div class="panel-body">
                        <div class="col-sm-1 row-icon">
                            <i class="fa fa-check-circle-o info-on" title="<%= __('off informations') %>"></i>
                            <i class="fa fa-minus-circle info-off" title="<%= __('on informations') %>"></i>
                        </div>
                        <div class="col-sm-12">
                            <div class="kanji-text-block text-center">
                                <div class="card">
                                    <div class="card-text default-show">
                                        <h3 class="text-center text-danger text-center-list-kanji"
                                            onclick="alwaysShowDetails(<%= index %>)"><%= kanji.item %></h3>
                                    </div>
                                    <div class="card-image default-hide">
                                        <img class="center-block" src="/media/image/<%= kanji.image %>"/>
                                    </div>
                                </div>
                            </div>
                            <div class="details-voca">
                                <p class="info-item-<%= index %> not-display text-center text-meaning-kanji-les">
                                    <span class="lb-name-voca-mean"><%= kanji.hanviet %></span>
                                </p>
                                <% if(kanji.kunyomi){ %>
                                <p class="info-item-<%= index %> not-display cut-bottom-lb">
                                    <span class="glyphicon glyphicon-hand-right"></span>
                                    <span class="lb-on size-lb"> kunyomi :</span>
                                    <span class="lb-on-con size-lb"><%= kanji.kunyomi %></span>
                                </p>
                                <% } %>
                                <% if(kanji.onyomi){ %>
                                <p class="info-item-<%= index %> not-display cut-bottom-lb">
                                    <span class="glyphicon glyphicon-hand-right"></span>
                                    <span class="lb-kun size-lb"> onyomi :</span>
                                    <span class="lb-on-kun size-lb"><%= kanji.onyomi %></span>
                                </p>
                                <% } %>
                                <% if(kanji.description){ %>
                                <p class="info-item-<%= index %> not-display">
                  <span class="lb-mean size-lb">
                    <span class="glyphicon glyphicon-screenshot"></span> <%= __("Description") %>
                      : <%= kanji.description %>
                  </span>
                                </p>
                                <% } %>

                                <!--5-->
                                <% if (typeof kanji.examples !== 'undefined' && kanji.examples.length > 0) { %>
                                <p class="exam-<%= index %> not-display cut-bottom-lb">
                                    <span class="text-success"><i class="fa fa-file-text fa-lg"
                                                                  title="<%=__('Example')%>"></i></span>
                                </p>

                                <ul class="exam-<%= index %> not-display vocabulary-item-example">
                                    <% kanji.examples.forEach( function(item, index){ %>
                                    <% if (item.example == 'undefined' || item.example.length == 0){ %>
                                    <% }else { %>
                                    <li class="cut-bottom">
                                        <span data-toggle="tooltip" data-placement="top" title="<%= item.meaning %>"
                                              class="text-danger size-lb">
                                          <%= index + 1 %>. <%= item.example %>
                                        </span>
                                    </li>
                                    <% } %>
                                    <% }) %>
                                </ul>
                                <% } %>
                                <!--end 5-->
                            </div>
                        </div>
                        <div class="pull-right count-page">
                            <span class="pagingCnt"> 1/<%= sumPage %></span>
                            <span id="countPage" style="display:none;"><%= sumPage %></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        <div class="learn-kanji">
            <div class="col-sm-offset-2 col-sm-8 lastSlide text-center">
                <div class="col-sm-6 last-left">
                    <div class="col-sm-12 description">
                        <i class="fa fa-child fa-2x icon"></i><strong><%=__("your flashcard finish")%> !</strong>
                        <br><br>
                        <p class="text-left"><%=__("Learn Again")%> : <%=__("Learn this sublesson again")%></p>
                        <p class="text-left"><%=__("Next Lesson")%> : <%=__("Learn missed lesson or new lesson")%></p>
                    </div>
                </div>
                <div class="col-sm-6 last-right">
                    <p><a onclick="learnAgain();" id="btn-learn-again" class="btn"><%=__("Learn Again")%></a>
                    <p><a onclick="nextLesson();" class="btn"><%=__("Next Lesson")%></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <!--6-->
    <div class="col-sm-offset-2 col-sm-8">
        <div class="slider slider-nav">
            <% kanjis.forEach( function(kanji){ %>
            <div><h3><%= kanji.item %></h3></div>
            <% }) %>
        </div>
    </div>
    <!--end 6-->
</div>
<script>
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: false,
        asNavFor: '.slider-nav',
        draggable: false,
        accessibility: false,
        touchMove: false,
        infinite:false,
        prevArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-left" aria-label="Previous" tabindex="0" role="button"><i class="fa fa-chevron-left"></i></button>',
        nextArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-right" aria-label="Next" tabindex="0" role="button"><i class="fa fa-chevron-right"></i></button>'
    });
    $('.slider-nav').slick({
        slidesToShow: 4,
        slidesToScroll:1,
        asNavFor: '.slider-for',
        accessibility: false,
        draggable: false,
        dots: false,
        touchMove: false,
        centerMode:true,
        focusOnSelect: true,
        infinite:false
    });
    var infoconfig = true;
    // when slide is last slide
    $('.slider-for').on('afterChange', function (event, slick, currentSlide, nextSlide) {
        var slideCount = $("#countPage").text();
        if(slideCount==(currentSlide+3)){
            infoconfig=false;
        }
        if(slideCount==(currentSlide)){
            infoconfig=false;
            $("#kanji-List .btn-arrow-right").hide();
            $("#kanji-List .btn-arrow-left").hide();
            $("#kanji-List .slider-nav").hide();
            logFinish(100);
        }
    });
    $("#kanji-List .btn-arrow-left").on("click",function(){
        $("#kanji-List .btn-arrow-right").show();
        $("#kanji-List .slider-nav").show();
        infoconfig=true;
    });
    $("#kanji-List .slick-prev").on("click",function(){
        $("#kanji-List .btn-arrow-right").show();
        $("#kanji-List .slider-nav").show();
        infoconfig=true;
    });
    function showExample(index) {
        $('.exam-' + index).delay(1000).slideDown();
    }
    function showDetails(index) {
        if (infoconfig) {
            $('.info-item-' + index).slideDown();
        }
    }
    function alwaysShowDetails(index) {
        $('.info-item-' + index).slideDown();
    }
    function learnAgain(){
        $(".slider-for").slick('slickGoTo',-1);
        $("#kanji-List .btn-arrow-right").show();
        $("#kanji-List .btn-arrow-left").show();
        $("#kanji-List .slider-nav").show();
        infoconfig=false;
    }
    var current_slide = 0;
    $(document).ready(function () {
        $('.info-off').hide();
        $('.info-on').on('click', function () {
            $('.info-off').show();
            $('.info-on').hide();
            infoconfig = false;
            //Hide all info
            $("[class^='info-item-']").slideUp(500);
        });
        $('.info-off').on('click', function () {
            $('.info-on').show();
            $('.info-off').hide();
            infoconfig = true;
            //Show current slide details
            showDetails(current_slide);
        });
    });
    // count page
    var $status = $('.pagingCnt');
    var $slickElement = $('.slider-for');
    $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
        //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
        var i = (currentSlide ? currentSlide : 0) + 1;
        $status.text(i + '/' + ( slick.slideCount - 1 ) );
        current_slide = currentSlide;
        //Show Details
        showDetails(currentSlide);
        //Show Example
        showExample(currentSlide);
    });
    $(".card-text").on("click", function (e) {  // See here, i have our selector set to "li", so this jQuery object will grab all li tags on the page
        $(this).addClass("card-text-click");
        $('.card-image').slideDown(1000);
    });
    // On before slide change slide
    $('.slider-for').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
        $('.card-image').hide();
        $('.card-text').removeClass("card-text-click");
    });
    $('span').tooltip();
    (function () {
        //Show details of first voca
        showDetails(0);
        //Show exam of first voca
        showExample(0);
    })();
</script>
