<script>
    var isNext;
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: false,
        touchMove: false,
        draggable: false,
        accessibility: false,
        infinite: false,
        asNavFor: '.slider-nav',
        prevArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-left-exe" aria-label="Previous" tabindex="0" role="button"><i class="fa fa-chevron-left"></i></button>',
        nextArrow: '<button type="button" data-role="none" class="btn btn-show-list btn-arrow-right-exe" aria-label="Next" tabindex="0" role="button"><i class="fa fa-chevron-right"></i></button>'
    });
    $('.slider-nav').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: false,
        centerMode: true,
        infinite: false,
        accessibility: false,
        focusOnSelect: true
    });
    //set isNext when next slide
    $('.slider-for').on('afterChange', function (event, slick, currentSlide, nextSlide) {
        isNext = false;
    });
    $('.ans-box').on('click', function () {
        isNext = true;
    });
    var truee = 0;
    var total = 0;
    var sum = $('#sum').val();
    var AnsweredArr = new Array();
    function checkAnswer(hanviet, hanviet2, optionID) {
        var optionIDArr = optionID.split('-');
        var numOfQuestion = optionIDArr[1];
        var isAnswered = false;
        for (var i = 0; i < AnsweredArr.length; i++) {
            if (numOfQuestion == AnsweredArr[i]) {
                isAnswered = true;
                break;
            }
        }
        if (!isAnswered) {
            total++;
            AnsweredArr.push(numOfQuestion);
            if (hanviet == hanviet2) {
                truee++;
                if(soundConfig){
                    $("#audioTrue").trigger('play');
                }
                // set color
                var $el = $('#' + optionID),
                        x = 100,
                        originalColor = $el.css("background"),
                        i = 3; //counter
                (function loop() { //recurisve IIFE
                    $el.css("background", "#13B192");
                    setTimeout(function () {
                        $el.css("background", originalColor);
                    }, x);
                }());
                //Trễ 2s và next sang câu tiếp theo.
                setTimeout(
                        function () {
                            if (isNext) {
                                $('.slider-for').slick('slickNext');
                            }
                        }, 1000);
            } else {
                if(soundConfig){
                    $("#audioFalse").trigger('play');
                }
                // set color
                var $el = $('#' + optionID),
                        x = 100,
                        originalColor = $el.css("background"),
                        i = 3; //counter
                (function loop() { //recurisve IIFE
                    $el.css("background", "#EA5552");
                    setTimeout(function () {
                        $el.css("background", originalColor);
                    }, x);
                });
            }
            if (total == sum) {
                var mark = (truee / total) * 100;
                $("#mark-view").text(Math.round(mark));
                //pie chart
                $(".excercise-kanji .last-right .progress-pie-chart").attr("data-percent",mark);
                $('.ppc-percents span').html(Math.round(mark)+'%');
                var $ppc = $('.progress-pie-chart'),
                        percent = parseInt($ppc.data('percent')),
                        deg = 360*percent/100;
                if (percent > 50) {
                    $ppc.addClass('gt-50');
                }
                $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
                // log mark for run time
                logMark();
            }
        }
        else {
            if (hanviet == hanviet2) {
                if(soundConfig){
                    $("#audioTrue").trigger('play');
                }
                // set color
                var $el = $('#' + optionID),
                        x = 100,
                        originalColor = $el.css("background"),
                        i = 3; //counter
                (function loop() { //recurisve IIFE
                    $el.css("background", "#13B192");
                    setTimeout(function () {
                        $el.css("background", originalColor);
                    }, x);
                }());
                //Trễ 2s và next sang câu tiếp theo.
                setTimeout(
                        function () {
                            if (isNext) {
                                $('.slider-for').slick('slickNext');
                            }
                        }, 1000);
            } else {
                if(soundConfig){
                    $("#audioFalse").trigger('play');
                }
                // set color
                var $el = $('#' + optionID),
                        x = 100,
                        originalColor = $el.css("background"),
                        i = 3; //counter
                (function loop() { //recurisve IIFE
                    $el.css("background", "#EA5552");
                    setTimeout(function () {
                        $el.css("background", originalColor);
                    }, x);
                }());
            }
        }
    }
    var infoconfig = true;
    var soundConfig = true;
    // when slide is last slide
    $('.slider-for').on('afterChange', function (event, slick, currentSlide, nextSlide) {
        // enable slide-nav
        enableActiveSlide(currentSlide);
        var slideCount = $("#countPage").text();
        console.log(currentSlide);
        console.log(slideCount);
        if(slideCount==(currentSlide)){
            infoconfig=false;
            soundConfig=false;
            $(".exe-kanji .btn-arrow-right-exe").hide();
            $(".exe-kanji .btn-arrow-left-exe").hide();
            $(".exe-kanji .slider-nav").hide();
        }
    });
    $(".exe-kanji .btn-arrow-left-exe").on("click",function(){
        $(".exe-kanji .btn-arrow-right-exe").show();
        $(".exe-kanji .slider-nav").show();
        infoconfig=true;
        soundConfig=true;
    });
    $(".exe-kanji .slick-prev").on("click",function(){
        $(".exe-kanji .btn-arrow-right-exe").show();
        $(".exe-kanji .slider-nav").show();
        infoconfig=true;
        soundConfig=true;
    });
    var current_slide = 0;
    $(document).ready(function () {
        disbleAllSlideNav();
        enableActiveSlide(0);
        $('.info-off').hide();
        $('.mic-off').hide();
        $('.info-on').on('click', function () {
            $('.info-off').show();
            $('.info-on').hide();
            infoconfig = false;
            //Hide all info
            $("[class^='info-item-']").slideUp(500);
        });
        $('.info-off').on('click', function () {
            $('.info-on').show();
            $('.info-off').hide();
            infoconfig = true;
            //Show current slide details
            showDetails(current_slide);
        });
        $('.mic-on').on('click', function () {
            $('.mic-off').show();
            $('.mic-on').hide();
            soundConfig = false;
        });
        $('.mic-off').on('click', function () {
            $('.mic-on').show();
            $('.mic-off').hide();
            soundConfig = true;
        });
    });
    function showDetails(index) {
        if (infoconfig) {
            $('.info-item-' + index).slideDown();
        }
    }
    function alwaysShowDetails(index) {
        $('.info-item-' + index).slideDown();
    }
    function learnAgain(){
        window.location.replace(window.location.href);
    }
    //disable all slide-nav
    function disbleAllSlideNav(){
        // diable slide-nav
        var sl_nav = $(".slider-nav .slick-slide");
        $(sl_nav).addClass("disable-slide-element");
    }
    // enable slide-nav
    function enableActiveSlide(index){
        var sl_nav = $(".slider-nav .slick-slide")[index];
        $(sl_nav).removeClass("disable-slide-element");
    }
    // count page
    var $status = $('.pagingCnt');
    var $slickElement = $('.slider-for');
    $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
        //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
        var i = (currentSlide ? currentSlide : 0) + 1;
        $status.text(i + '/' + (slick.slideCount-1));

        current_slide = currentSlide;
        //Show Details
        showDetails(currentSlide);
    });
    function logMark(){
        var mark = $("#mark-view").text();
        logFinish(mark);
    }
</script>
<input type="hidden" id="sum" value="<%= kanjis.length %>">
<input type="hidden" id="lessonn" value="<%= lessonn %>">
<input type="hidden" id="passMark" value="<%= Constants.passMark %>">
<div class="exe-kanji">
    <!--div audio-->
    <audio id="audioTrue">
        <source src="/sound/true.wav" type="audio/wav">
    </audio>
    <audio id="audioFalse">
        <source src="/sound/false.wav" type="audio/wav">
    </audio>
    <!--finish div audio-->

    <% if(kanjis == null || kanjis.length == 0){ %>
    <h5 class="text-center text-danger"><%=__("didn't find any data")%></h5>
    <% }else{ %>
    <div class="slider slider-for">
        <%
            var sumPage = kanjis.length;
                kanjis.forEach( function(kanji, index){ %>
        <div class="excercise-kanji">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-default panel-paper-slide-exe">
                    <div class="panel-body">
                        <div class="col-sm-1">
                            <i class="fa fa-check-circle-o  fa-2x  info-on" title="<%=__('off informations')%>"></i>
                            <i class="fa fa-minus-circle  fa-2x  info-off" title="<%=__('on informations')%>"></i>
                            <i class="fa fa-volume-up fa-2x mic-on" data-toggle="tooltip" title="<%= __("off audio") %>"></i>
                            <i class="fa fa-volume-off fa-2x mic-off" data-toggle="tooltip" title="<%= __("on audio") %>"></i>
                        </div>
                        <div class="col-sm-11">
                            <% if(kanji.kunyomi){ %>
                            <p class="info-item-<%= index %> not-display">
                                <span class="glyphicon glyphicon-hand-right"></span><span
                                        class="lb-on size-lb"> Kunyomi : </span><span
                                        class="lb-on-con size-lb"><%= kanji.kunyomi %></span>
                            </p>
                            <% } %>
                            <% if(kanji.onyomi){ %>
                            <p class="info-item-<%= index %> not-display">
                                <span class="glyphicon glyphicon-hand-right"></span><span
                                        class="lb-kun size-lb"> Onyomi : </span><span
                                        class="lb-on-kun size-lb"><%= kanji.onyomi %></span>
                            </p>
                            <% } %>
                        </div>
                        <div class="col-sm-12">
                            <div class="kanji-text-big text-center">
                                <div class="card">
                                    <div class="front">
                                        <h3 class="text-center text-danger text-center-exe"
                                            onclick="alwaysShowDetails(<%= index %>)">
                                            <%= kanji.item %>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 ans-kanji-exe">
                            <% kanji.randomKanjis.forEach( function(hanviet, indexOption){ %>
                            <div class="col-sm-6">
                                <div class="panel panel-default text-center panel-choose-exe">
                                    <div id="<%= indexOption %>-<%= index %>" class="panel-body ans-box"
                                         onclick="checkAnswer('<%= hanviet %>','<%= kanji.hanviet %>','<%= indexOption %>-<%= index %>')">
                                        <span class="option-exe-hanviet"><%= hanviet %></span>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <div class="count-page-exe-kanji">
                            <span class="pagingCnt">1/<%= sumPage %></span>
                            <span id="countPage" style="display:none;"><%= sumPage %></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        <div class="excercise-kanji">
            <div class="col-sm-offset-2 col-sm-8 lastSlide description">
                <div class="col-sm-6 last-left">
                    <div class="col-sm-12 ">
                        <i class="fa fa-child fa-2x icon"></i><strong><%=__("You finish exercise")%> !</strong>
                        <br><br>
                        <p class="text-left text-danger"><%=__("Your Mark")%> : <label id="mark-view"></label></p>
                        <p class="text-left"><%=__("Learn Again")%> : <%=__("Learn this sublesson again")%></p>
                        <p class="text-left"><%=__("Next Lesson")%> : <%=__("Learn missed lesson or new lesson")%></p>
                    </div>
                </div>
                <div class="col-sm-6 last-right">
                    <!--Pie Chart -->
                    <div class="progress-pie-chart" data-percent="">
                        <div class="ppc-progress">
                            <div class="ppc-progress-fill"></div>
                        </div>
                        <div class="ppc-percents">
                            <div class="pcc-percents-wrapper">
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <!--End Chart -->
                </div>
                <div class="col-sm-12 text-center">
                    <button onclick="learnAgain();" class="btn btn-primary"><%=__("Learn Again")%></button>
                    <button onclick="nextLesson();"class="btn btn-primary"><%=__("Next Lesson")%></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
        <div class="slider slider-nav">
            <% kanjis.forEach( function(kanji){ %>
            <div><h3><%= kanji.item %></h3></div>
            <% }) %>
        </div>
    </div>
    <% } %>
</div>
<script>
    (function () {
        //Show details of first voca
        showDetails(0);
    })();
</script>
